# common file patterns
.DS_STORE
.idea
*.iml
*.pyc
__pycache__
*.jar
*.class
.project
*.prefs
_build

# excluded paths
/cloud-manager/target/
.vscode/*

/python/fate_manager/apps/static
/python/fate_manager/static
/python/logs