.add-ip-box {

    .add-dialog {
        .el-dialog {
            // height: 520px;
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: calc(100% - 30px);
            max-width: calc(100% - 30px);

            .el-dialog__header {
                display: none
            }

            .add-dialog-head {
                margin-bottom: 12px;
                font-size: 18px;

                .deleteAll,
                .addUrl {
                    // width:0;
                    padding: 0;
                    font-size: 16px;
                    height:24px;
                    line-height: 24px;
                }

                .deleteAll{
                    margin-left: 60px !important;
                }

                .total {
                    float: right;
                    height: 24px;
                    line-height: 24px;
                }
            }
            .el-dialog__body{
                padding: 20px 24px;
                .add-dialog-body {
                    // background-color: pink;
                    height: 375px;
                    overflow: auto;
                    width: 100%;
                    position: relative;
                    .line-box{
                        width: 100%;
                        height: 340px;
                        overflow:auto;
                        .line {
                            // padding: 10px 0;
                            font-size: 16px;
                            height: 34px;
                            line-height: 34px;
                            position: relative;
                            width: 100%;
        
                            .network-text {
                                // display: inline-block;
                                white-space: nowrap; //文本强制不换行；
                                text-overflow: ellipsis; //文本溢出显示省略号；
                                overflow: hidden; //溢出的部分隐藏；
                            }
        
                            .telnet,
                            .check,
                            .del {
                                vertical-align: middle;
                                position: absolute;
        
                                display: inline-block;
                                cursor: pointer;
                                color: #217AD9;
                            }
                            .el-checkbox{
                                margin: 0px 10px 0 5px;
                                vertical-align: top;
                                .el-checkbox__inner{
                                    border: 1px solid #606266;
                                }
                            }
                            .telnet {
                                right: 50px;
                            }
        
                            .del {
                                right: 15px;
                                top: 8px
                            }
                            .check{
                                right: 50px;
                                top: 8px
                            }
                            .input-show {
                                width: 100%;
        
                                .el-input__inner {
                                    width: 100%;
                                    font-size: 16px;
                                    height: 34px;
                                    color: #2D3642;
                                    padding: 0 10px;
                                    background-color: rgb(74, 162, 255, 0.1);
                                    border: 0px;
                                    outline: none;
                                }
        
                                .el-input__suffix {
                                    cursor: pointer;
                                    font-size: 16px;
                                    right: 15px;
                                    color: #217AD9
                                }
                            }
                        }
                    }
                    .message-add{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        background: #2D3642;
                        height: 24px;
                        line-height: 23px;
                        color: #FFFFFF;
                        font-size: 14px;
                        border-radius: 24px;
                        padding: 0 8px;
                        color: rgba(255, 255, 255, .9);
                        .tips{
                            img{
                                vertical-align: middle;
                                margin-right: 12px;
                                margin-bottom: 2px;
                            }
                        }
                    }
    
                    .line:hover {
                        background-color: rgb(74, 162, 255, 0.1);
                        // visibility: 0.1
                    }
                }
            }

            

            .add-dialog-footer {
                .el-button {
                    width: 125px;
                    font-size: 16px
                }

                margin-top: 24px;
                text-align: center
            }
        }
    }

}