.auto {
    position: absolute;
    height: calc(100% - 65px);
    width: 100%;
    overflow: auto;
    background: #F5F8FA;

    .auto-box {
        box-sizing: border-box;
        background: #fff;
        width: 1200px;
        min-height: 100%;
        margin: 0 auto;
        .serve-title {
            padding-top: 24px;
            background-color: #F5F8FA;
            .Service-inline {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;
            }

            .inline {

                padding: 20px 0;
                .el-form-item {
                    margin-right: 36px;
                    margin-bottom: 10px
                }

                .el-input--mini .el-input__inner {
                    height: 24px;
                    line-height: 24px;
                }

                .el-input--mini .el-input__icon {
                    line-height: 24px;
                }

                .el-form-item__label {
                    color: #4E5766;
                    line-height: 24px;
                }

                .el-form-item__content {
                    line-height: 24px;
                    width: 127px;

                    .el-input__inner {
                        color: #217AD9;
                        font-size: 14px;
                        background: #F5F8FA;
                        border-bottom: 2px solid #B8BFCC
                    }
                }
                .form-item{
                    .el-form-item__content {
                        width: 200px;
                    }
                }
                .option-select{
                    .el-input__inner{
                        border-bottom:2px solid #FF9D00; 
                    }
                }
                .option-partyId{
                    position: absolute;
                    top:25px;
                    left: 0px;
                    color: #FF9D00;
                    font-weight: normal;
                    font-size: 14px;
                    width: 130%;
                }
            }
        }
        .serve-content {
            padding: 0 36px;
            margin-top: 24px;
            .el-tabs {
                vertical-align: top;
                display: inline-block;
                height: 36px;
                // width: 320px;
                background: #E6EBF0;
                .el-tabs__active-bar {
                    height: 0;
                }
                .el-tabs__item {

                    padding: 0;
                    width: 160px;
                    text-align: center;
                    line-height: 34px;
                    background-color: #E6EBF0;
                    height: 36px;
                    font-size: 18px;
                    color: #217AD9;
                    border-top: 2px solid #E6EBF0;
                }
                .is-active {
                    border-top: 2px solid #217AD9;
                    background: #fff;
                }
            }
            .empty {
                display: inline-block;
                height: 36px;
                background-color: #F5F8FA;
                width: calc(100% - 320px);
            }

            .table{
                .is-scrolling-none{
                    display: none;
                }
            }
        }

        .content {
            width: 100%;
            text-align: center;
            border-top: 2px solid #fff;
            margin-top: -2px;
            height: 200px;
            //渐变色
            background-image: linear-gradient(#F5F8FA, #fff);

            .text {
                color: #2D3642;
                font-size: 18px;
                font-weight: bold;
                margin: 36px 0;

                .text-click {
                    color: #217AD9;
                    cursor: pointer;
                    text-decoration: underline;

                }
            }
        }

    }

    .auto-dialog {
        .el-dialog__header {
            display: none;
        }

        .el-dialog__body {
            padding: 0;
        }

        .dialog-box {
            padding: 36px;

            .dialog-title {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;

            }

            .input {
                margin-top: 36px;
                border-bottom: 2px solid #E6EBF0;
                position: relative;
                .el-input__inner {
                    background-color: #fff;
                    height: 32px;
                    font-size: 18px;
                    color: #217AD9;
                }
                .text-warn{
                    position: absolute;
                    top:35px;
                    left: 15px;
                    color:#FF9D00
                }
            }
            .input-warn{
                border-bottom: 2px solid #FF9D00;
            }

            .dialog-foot {
                text-align: center;
                margin: 48px 0 12px 0;

                .el-button {
                    height: 36px;
                    width: 200px;
                    padding: 0;
                    font-size: 18px;

                }
            }

        }
    }
}