.deploying {
    position: absolute;
    height: calc(100% - 65px);
    width: 100%;
    overflow: auto;
    background: #F5F8FA;

    .deploying-box {
        box-sizing: border-box;
        // padding: 0 36px;
        background: #fff;
        width: 1200px;
        min-height: 100%;
        margin: 0 auto;

        .serve-title {
            padding-top: 24px;
            background-color: #F5F8FA;

            .deploying-inline {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;
            }

            .inline {
                padding: 20px 0;

                .el-form-item {
                    margin-right: 36px;
                    margin-bottom: 10px
                }
                
                .el-input--mini .el-input__inner {
                    height: 24px;
                    line-height: 24px;
                }

                .el-input--mini .el-input__icon {
                    line-height: 24px;
                }

                .el-form-item__label {
                    color: #4E5766;
                    // font-size: 18px;
                    line-height: 24px;
                }

                .el-form-item__content {
                    line-height: 24px;
                    width: 127px;

                    .el-input__inner {
                        color: #217AD9;
                        font-size: 14px;
                        background: #F5F8FA;
                        border-bottom: 2px solid #B8BFCC
                    }
                }
                .form-item{
                    .el-form-item__content {
                        width: 200px;
                    }
                }
                .option-select{
                    .el-input__inner{
                        border-bottom:2px solid #FF9D00; 
                    }
                }
                .option-partyId{
                    position: absolute;
                    top:25px;
                    left: 0px;
                    color: #FF9D00;
                    font-weight: normal;
                    font-size: 14px;
                    width: 130%;
                }
            }
        }
        .steps-content{
            padding-bottom: 12px;
            background-color: #F5F8FA;
            .state-one{
                display: inline;
            }
            .steps {
                position: relative;
                vertical-align: middle;
                width: calc(33% - 20.5px);
                height: 24px;
                line-height: 24px;
                font-size: 18px;
                color: #848C99;
                background-color: #E6EBF0;
                display:inline-block;
                text-align: center;
                .icon{  
                    top:3px;
                    left: 235px;
                    font-weight: bold;
                    position: absolute;
                }
                .circul{
                    top:3px;
                    left: 110px;
                    position: absolute;
                    font-weight: bold;
                    display:inline-block;
                    width: 14px;
                    height: 14px;
                    font-size: 14px;
                    border: 2px solid #848C99;
                    border-radius: 50%;
                    line-height: 15px;
                    // margin-right: 12px;
                }
            }
            .arrow-left{
                display:inline-block;
                vertical-align: middle;
                margin-right: -12px;
                height:0;
                border: 12px solid #F5F8FA;
                border-left-color: #E6EBF0;//左箭头
            }
            .arrow-right{
                display:inline-block;
                vertical-align: middle;
                margin-right: 0px;
                height:0;
                border: 12px solid #E6EBF0;
                border-left-color: #F5F8FA;//左箭头
            }
            .steps-two {
                .circul{
                    left: 95px;
                }
            }

            .state-two{
                cursor: pointer;
                display: inline;
                .steps{
                    background-color: #C1DEFC;
                    .circul{
                        border: 2px solid #217AD9;
                    }
                    span{
                        color: #217AD9;
                    }
                }
                .arrow-left{
                    border: 12px solid #F5F8FA;
                    border-left-color: #C1DEFC;//左箭头
                }
                .arrow-right{
                    border: 12px solid #C1DEFC;
                    border-left-color: #F5F8FA;//左箭头
                }
            }

            .state-three{
                cursor: pointer;
                display: inline;
                .steps{
                    background-color: #6CB2FE;
                    .circul{
                        border: 2px solid #fff;
                    }
                    span{
                        color: #fff;
                    }
                }
                .arrow-left{
                    border: 12px solid #F5F8FA;
                    border-left-color: #6CB2FE;//左箭头
                }
                .arrow-right{
                    border: 12px solid #6CB2FE;
                    border-left-color: #F5F8FA;//左箭头
                }
            }
            .arrow-left-activate{
                border: 12px solid #F5F8FA;
                border-left-color: #6CB2FE;
            }
            .arrow-right-activate{
                border: 12px solid #6CB2FE;
                border-left-color: #F5F8FA;
            }
            .steps-one-activate{
                background:#6CB2FE;
            }
            .steps-two-activate{
                background-color: #6CB2FE;
            }
            .steps-three-activate{
                background:#6CB2FE;                
            }
        }
        .row-content {
            padding: 0 36px;
            margin-top: 24px;
            .el-tabs {
                vertical-align: top;
                display: inline-block;
                height: 36px;
                width: 320px;
                background: #E6EBF0;
                .el-tabs__active-bar {
                    height: 0;
                }
                .el-tabs__item {

                    padding: 0;
                    width: 160px;
                    text-align: center;
                    line-height: 34px;
                    background-color: #E6EBF0;
                    height: 36px;
                    font-size: 18px;
                    color: #217AD9;
                    border-top: 2px solid #E6EBF0;
                }
                .is-active {
                    border-top: 2px solid #217AD9;
                    background: #fff;
                }
            }

            .empty,.version{
                vertical-align: top;
                display: inline-block;
                height: 36px;
                background-color: #F5F8FA;
                width: 670px;
            }
            .version{
                width: 102px;
                .el-input__inner{
                    background-color: #F5F8FA;
                    
                }
                /* WebKit browsers 适配谷歌 */
                input::-webkit-input-placeholder {
                    color: #848C99 ;
                }
            }
            .row-activa{
                float:right;
                height: 36px;
                line-height: 36px;
                text-align: center;
                width: 126px;
                cursor: pointer;
                .el-button{
                    width: 100%;
                    font-size: 18px;
                    padding: 0;
                    height: 36px;
                    line-height: 36px;
                }
                img{
                    margin-top: -4px;
                    margin-right: 4px;
                    vertical-align:middle
                }
            }
        }
        .deploying-body {
            
            position: absolute;
            width: 1128px;
            height: calc(100% - 234px);
            padding: 0 36px;
            .warn-box{
                height: 42px;
                line-height: 42px;
                color: #FF9D00;
                background-color: #FFFAF2;
                margin-top: 15px;
                font-size: 14px;
                i{
                    margin: 0px 6px 0px 12px;
                    font-size: 18px; 
                }
            }
            .table {
                height: calc(100% - 144px);
                .el-table {
                    height:100% !important;
                    img{
                        display: inline;
                        vertical-align: text-top;
                    }
                    i{
                        vertical-align: middle;
                    }
                    .ip-text{
                        display:inline-block;
                        width: 45%;
                    }
                    .edit{
                        color: #217AD9;
                        cursor: pointer;
                        margin-left: 5px
                    }
                    .close-a,
                    .close{
                        margin-left: 5px;
                        color: #217AD9;
                        cursor: pointer;
                        font-weight: bold;
                    }
                    .close-a{
                        color: inherit;
                    }
                    .el-input{
                        display:inline-block;
                        margin-left: -14px;
                        width: 49%;
                        .el-input__inner {
                            height: 20px;
                            // line-height: 24px;
                            color: #217AD9;
                            font-size: 14px;
                            background: #F5F8FA;
                            border-bottom: 2px solid #B8BFCC
                        }
                    }
                    .index{
                        .cell{
                            position: absolute;
                            top:13px;
                        }
                    }
                    .el-button{
                        padding:0
                    }
                }
                .el-table::before {
                    background-color: #fff; 
                }
            }
            .btn{
                position: absolute;
                left: calc(50% - 150px);
                bottom: 48px;
                background-color: pink;
                .el-button{
                    width: 300px;
                    height: 48px;
                    font-size: 18px;
                }
            }
        }
    }

  
}