.overview {
    position: absolute;
    height: calc(100% - 65px);
    width: 100%;
    overflow: auto;
    background: #F5F8FA;

    .overview-box {
        box-sizing: border-box;
        background: #fff;
        width: 1200px;
        min-height: 100%;
        margin: 0 auto;

        .serve-title {
            padding: 24px;
            background-color: #F5F8FA;

            .overview-inline {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;
            }

            // .inline { 
            //     padding: 20px 0;

            //     .el-form-item {
            //         margin-right: 36px;
            //         margin-bottom: 10px
            //     }

            //     .el-input--mini .el-input__inner {
            //         height: 24px;
            //         line-height: 24px;
            //     }

            //     .el-input--mini .el-input__icon {
            //         line-height: 24px;
            //     }

            //     .el-form-item__label {
            //         color: #4E5766;
            //         // font-size: 18px;
            //         line-height: 24px;
            //     }

            //     .el-form-item__content {
            //         line-height: 24px;
            //         width: 127px;

            //         .el-input__inner {
            //             color: #217AD9;
            //             font-size: 14px;
            //             background: #F5F8FA;
            //             border-bottom: 2px solid #B8BFCC
            //         }
            //     }
            // }
        }

        .serve-content {
            padding: 0 36px;
            margin: 24px 0;
            .el-tabs {
                vertical-align: top;
                display: inline-block;
                height: 36px;
                width: 320px;
                background: #E6EBF0;
                .el-tabs__active-bar {
                    height: 0;
                }
                .el-tabs__item {

                    padding: 0;
                    width: 160px;
                    text-align: center;
                    line-height: 34px;
                    background-color: #E6EBF0;
                    height: 36px;
                    font-size: 18px;
                    color: #217AD9;
                    border-top: 2px solid #E6EBF0;
                }
                .is-active {
                    border-top: 2px solid #217AD9;
                    background: #fff;
                }
            }

            .empty {
                vertical-align: top;
                display: inline-block;
                height: 36px;
                background-color: #F5F8FA;
                width: 808px;
            }
        }
        .ip-header {
            margin-right: 36px;
            text-align: right;
            .el-input__icon {
                color: #848C99;
                line-height: 34px;
            }
            .el-input__inner {
                background-color: #F5F8FA;
                color: #848C99;
                border: 0px;
                outline: none;
                height: 34px;
                line-height: 34px;
                border-radius: 0;
            }
            .input {

                line-height: 34px;
                width: 250px;

                .search {
                    cursor: pointer;
                }
                margin-right: 16px
            }

            .sel-role {
                line-height: 34px;
                width: 85px;
                margin-right: 16px;
            }

            .sel-organization {
                width: 128px;
                margin-right: 16px;
            }
            .go {
                width: 65px;
                font-weight: 400;
                height: 34px;
                line-height: 34px;
                padding: 0;
            }
        }
        .partyid-body {
            
            position: absolute;
            width: 1128px;
            height: calc(100% - 220px);
            padding: 0 36px;
            .table {
                height: 100%;
                .el-table {
                    height: 100% !important;
                    img{
                        cursor: pointer;
                        margin-left: 25px
                    }
                    .el-button{
                        padding:0
                    }
                    .dot{
                       position: relative;
                    //    margin-right: 43px;
                        .dot-c{
                            position: absolute;
                            display:inline-block;
                            width: 8px;
                            height: 8px;
                            background-color: #FF9D00;
                            top: 0px;
                            right: -8px;
                            border-radius: 50%
                        }
                    }
                    .cell-box{
                        display: inline-block;
                        margin-right: 15px;
                        width: 55px;
                        font-size: 15px;
                        .el-badge__content{
                            top: 5px;
                            right: 0px;
                        }
                        i {
                            color: #217AD9;
                        }
                    }
                    .el-table__row>.cell-td-td>.cell{
                        position: absolute;
                        top:12px;
                        display: inline-block;
                        left: 0;
                    }
                }
                .el-table::before {
                    background-color: #fff; 
                }
            }
        }
    }

    .overview-dialog {
        .el-dialog__header {
            display: none;
        }

        .el-dialog__body {
            padding: 0;
        }

        .dialog-box {
            padding: 36px;

            .dialog-title {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;

            }

            .input {
                margin-top: 36px;

                .el-input__inner {
                    background-color: #fff;
                    height: 32px;
                    border-bottom: 2px solid #E6EBF0;
                    font-size: 18px;
                    color: #217AD9;
                }
            }

            .dialog-foot {
                text-align: center;
                margin: 48px 0 12px 0;

                .el-button {
                    height: 36px;
                    width: 200px;
                    padding: 0;
                    font-size: 18px;

                }
            }

        }
    }
}