.sitemanage {
    position: absolute;
    height: calc(100% - 65px);
    width: 100%;

    background: #F5F8FA;
    .site-item{
        box-sizing: border-box;
        padding: 0 36px;
        padding-top:10px;
        height: 100px;
        background: #fff;
        width: 1200px;
        margin: 20px auto;
        .site-item-text,
        .site-item-title{
            display: inline-block;
            width: 25%;
            font-size: 14px;
            color: #848C99;
        }
        .site-item-text{
            vertical-align: middle;
            font-size: 18px;
            color: #217AD9;
        }
        .site-title{
            line-height: 40px;
           
        }
    }
   
    .sitemanage-box {
        box-sizing: border-box;
        padding: 0 36px;
        background: #fff;
        width: 1200px;
        height: calc(100% - 140px);
        margin: 0 auto;
        overflow: auto;
        .add-site{
            padding: 24px 0;
            height: 36px;
            .add:hover{
                opacity: 0.9;
            }
            .add{
                float: left;
                height: 36px;
                background-color: #217AD9;
                width: 126px;
                font-size: 18px;
                color: #fff;
                text-align: center;
                line-height: 36px;
                cursor: pointer;
            }
            .apply{
                float:right;
                font-size: 14px;
                color: #217AD9;
                text-align: right;
                line-height: 36px;
                .warning{
                    cursor: pointer;
                    color: #FF9D00;
                    font-size: 18px;
                    vertical-align: -2px;
                    margin-right: 10px
                }
                .tickets{
                    vertical-align: -5px;
                    cursor: pointer;
                    margin-left: 10px
                }
                .apply-click{
                    cursor: pointer;
                }
            }
            .app{
                line-height: 36px;
                float:right;
                font-size: 14px;
                color: #B8BFCC;
                text-align: right;
            }
        }
        .site-name{
            background-color: #ECF6FF;
            height: 36px;
            line-height: 36px;
            .name-left{
                float: left;
                font-size: 16px;
                .size-title,
                .institution-title{
                    display: inline-block;
                    margin-left: 10px;
                    color: #848C99;
                }
                .institution-title{
                    width: 95px;
                }
                .size-num,
                .institution-text{
                    margin-left: 10px;
                    color: #217AD9;
                }
                .institution-text{
                    vertical-align: top;
                    display: inline-block;
                    width: 170px;
                    white-space: nowrap; //文本强制不换行；
                    text-overflow:ellipsis; //文本溢出显示省略号；
                    overflow:hidden; //溢出的部分隐藏；
                    // background-color: red;
                }
            }
            .name-right{
                font-size: 16px;
                float: right;
                .right-title,
                .right-text{
                    margin-right: 10px;
                    color: #848C99
                }
                .refresh,
                .right-num{
                    color: #217AD9;
                    margin-right: 10px;
                }
                .refresh{
                    vertical-align: middle;
                    cursor: pointer;
                    i{
                        font-weight:bold;
                    }
                 
                }
            }
        }
        .site-table{
            margin-bottom: 24px
        }
    }
    .apply-dialog {
        .el-dialog__header {
            display: none;
        }
        .el-dialog__body {
            padding: 0;
        }
        .dialog-box {
            
            padding: 36px;
            .dialog-title {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;
                margin-bottom: 48px
            }
            .line-text-one{
                font-size: 18px;
                color: #2D3642;
                line-height: 36px;
            }
            .dialog-main{
                padding: 12px 24px;
                margin-top: 24px;
                max-height: 248px;
                overflow:auto;
                background: #F5F8FA;
                overflow: auto;
                .el-checkbox-group{
                    width: 100%;
                    div{
                        line-height: 24px;
                        display: inline-block;
                        width: 50%;
                        .el-checkbox__inner::after {
                            transition: none!important;
                        }
            
                    }
                }
            }
            .dialog-foot {
                text-align: center;
                margin: 36px 0 12px 0;
                .el-button {
                    height: 36px;
                    width: 200px;
                    padding: 0;
                    font-size: 18px;
                }
            }

        }
    }
    .apply-not-pass{
         .el-dialog__body{
            padding: 40px;
        }
        .el-button{
            padding: 0;
            height: 36px;
            line-height: 36px;
        }


        .el-dialog__header {
            display: none;
        }

        text-align: center;

        .line-text-one {
            font-size: 24px;
            color: #4E5766;
            line-height: 48px;
            // margin-bottom: 18px;
            .span{
                color: #217AD9
            }
        }
        .line-text-two{
            font-size: 18px;
            color: #848C99;
            margin: 24px;
        }

        .ok-btn {
            margin-top: 12px;
            width: 180px;
            font-size: 18px;
        }
    }
}
