<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.ai.fatecloud.system.dao.mapper.ExchangeDetailsMapper">


    <select id="findMaxBatch"
            parameterType="com.webank.ai.fatecloud.system.pojo.qo.ExchangeUpdateQo" resultType="long">
        select max(batch) FROM t_exchange_details where exchange_id = #{exchangeId}
    </select>


</mapper>
