<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.ai.fatecloud.system.dao.mapper.FederatedFateManagerUserMapper">

    <resultMap id="fateManagerUserMap" type="com.webank.ai.fatecloud.system.dao.entity.FederatedFateManagerUserDo">
        <result property="fateManagerId" column="fate_manager_id"></result>
        <result property="institutions" column="institutions"></result>
        <result property="secretInfo" column="secret_info"></result>
        <result property="registrationLink" column="registration_link"></result>
        <result property="creator" column="creator"></result>
        <result property="status" column="status"></result>
        <result property="protocol" column="protocol"></result>
        <result property="network" column="network"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>


    <select id="findPagedInstitutions" resultMap="fateManagerUserMap">

        SELECT * FROM t_fate_manager_user where status = 2 and institutions != #{authorityInstitutionsQo.institutions} order by institutions limit #{startIndex},
        #{authorityInstitutionsQo.pageSize}

    </select>


    <select id="findPagedFateManagerUser" resultMap="fateManagerUserMap">
        SELECT * FROM t_fate_manager_user
        where `status` in(1,2,3)
        <if test="fateManagerUserPagedQo.institutions!=null">
            and institutions like #{fateManagerUserPagedQo.institutions}
        </if>
        order by create_time desc limit #{startIndex}, #{fateManagerUserPagedQo.pageSize}
    </select>


</mapper>
