<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.ai.fatecloud.system.dao.mapper.FederatedExchangeMapper">

    <resultMap id="exchangeMap" type="com.webank.ai.fatecloud.system.dao.entity.FederatedExchangeDo">
        <id property="exchangeId" column="site_name"></id>
        <result property="exchangeName" column="exchange_name"></result>
        <result property="networkAccess" column="network_access"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>

        <collection property="exchangeDetailsList"
                    ofType="com.webank.ai.fatecloud.system.dao.entity.ExchangeDetailsDo">
            <id property="exchangeDetailsId" column="exchange_details_id"></id>
            <result property="partyId" column="party_id"></result>
            <result property="networkAccess" column="network_access"></result>
            <result property="batch" column="batch"></result>
            <result property="createTime" column="create_time"></result>
            <result property="updateTime" column="update_time"></result>
            <result property="exchangeId" column="exchange_id"></result>
        </collection>
    </resultMap>

    <select id="findExchangePage"
            parameterType="com.webank.ai.fatecloud.system.pojo.qo.ExchangePageQo" resultType="com.webank.ai.fatecloud.system.dao.entity.FederatedExchangeDo">
        select * FROM t_federated_exchange order by update_time desc limit #{startIndex}, #{exchangePageQo.pageSize}
    </select>


</mapper>
