<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.ai.fatecloud.system.dao.mapper.FederatedSiteManagerMapper">

    <resultMap id="siteMap" type="com.webank.ai.fatecloud.system.dao.entity.FederatedSiteManagerDo">
        <id property="id" column="id"></id>
        <result property="siteName" column="site_name"></result>
        <result property="partyId" column="party_id"></result>
        <result property="secretInfo" column="secret_info"></result>
        <result property="registrationLink" column="registration_link"></result>
        <result property="networkAccessEntrances" column="network_access_entrances"></result>
        <result property="networkAccessExits" column="network_access_exits"></result>
        <result property="institutions" column="institutions"></result>
        <result property="componentVersion" column="component_version"></result>
        <result property="fateVersion" column="fate_version"></result>
        <result property="fateServingVersion" column="fate_serving_version"></result>
        <result property="status" column="status"></result>
        <result property="createTime" column="create_time"></result>
        <result property="activationTime" column="activation_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="detectiveStatus" column="detective_status"></result>
        <result property="lastDetectiveTime" column="last_detective_time"></result>
        <result property="protocol" column="protocol"></result>
        <result property="network" column="network"></result>
        <result property="encryptType" column="encrypt_type"></result>
        <result property="groupId" column="group_id"></result>
        <association property="federatedGroupSetDo"
                     javaType="com.webank.ai.fatecloud.system.dao.entity.FederatedGroupSetDo">
            <id property="groupId" column="group_id"></id>
            <result property="groupName" column="group_name"></result>
            <result property="role" column="role"></result>
            <result property="rangeInfo" column="range_info"></result>
            <result property="total" column="total"></result>
            <result property="used" column="used"></result>
            <result property="status" column="status"></result>
            <result property="createTime" column="create_time"></result>
            <result property="updateTime" column="update_time"></result>
        </association>
    </resultMap>

    <select id="findSiteByPartyId" resultMap="siteMap">
        SELECT s.*,g.role FROM t_federated_site_manager s,t_federated_group_set g where s.party_id=#{partyId} and
        s.group_id=g.group_id and s.secret_info like concat('%',#{secretInfo},'%')
        <foreach collection="status" open=" and s.status  in (" close=")" item="statusItem" separator=",">
            #{statusItem}
        </foreach>

    </select>

    <select id="findSite" parameterType="long" resultMap="siteMap">
        SELECT s.*,g.role,g.group_name FROM t_federated_site_manager s,t_federated_group_set g where s.id=#{id} and
        s.group_id=g.group_id
    </select>

    <!--    <select id="findSiteByPartyId" parameterType="long" resultMap="siteMap">-->
    <!--        SELECT s.*,g.role FROM t_federated_site_manager s,t_federated_group_set g where s.party_id=#{partyId} and-->
    <!--        s.group_id=g.group_id and s.status = 2 -->
    <!--    </select>-->


    <select id="findSitesCount" parameterType="com.webank.ai.fatecloud.system.pojo.qo.SiteListQo" resultType="long">
        SELECT count(1) FROM t_federated_site_manager s,t_federated_group_set g
        <where>
            s.group_id=g.group_id

            <if test="condition != null">
                and (s.party_id like #{condition} or s.site_name like #{condition})
            </if>
            <if test="fateVersion != null">
                and s.fate_version=#{fateVersion}
            </if>
            <if test="fateServingVersion != null">
                and s.fate_serving_version=#{fateServingVersion}
            </if>
            <if test="institutions != null">
                and s.institutions=#{institutions}
            </if>
            <if test="status != null">
                and s.status=#{status}
            </if>
            <if test="role != null">
                and g.role=#{role}
            </if>

        </where>
    </select>

    <select id="findPagedSites" resultMap="siteMap">
        SELECT s.*,g.role FROM t_federated_site_manager s,t_federated_group_set g
        <where>
            s.group_id=g.group_id

            <if test="siteListQo.condition!=null">
                and (s.party_id like #{siteListQo.condition} or s.site_name like #{siteListQo.condition})
            </if>
            <if test="siteListQo.fateVersion!=null">
                and s.fate_version=#{siteListQo.fateVersion}
            </if>
            <if test="siteListQo.fateServingVersion!=null">
                and s.fate_serving_version=#{siteListQo.fateServingVersion}
            </if>
            <if test="siteListQo.institutions!=null">
                and s.institutions=#{siteListQo.institutions}
            </if>
            <if test="siteListQo.status!=null">
                and s.status=#{siteListQo.status}
            </if>
            <if test="siteListQo.role!=null">
                and g.role=#{siteListQo.role}
            </if>
            <if test="siteListQo.orderRule==1">
                order by s.id asc
            </if>
            <if test="siteListQo.orderRule==2">
                order by s.id desc
            </if>

            limit #{startIndex}, #{siteListQo.pageSize}
        </where>

    </select>

    <select id="findUsedSites" resultType="com.webank.ai.fatecloud.system.dao.entity.FederatedSiteManagerDo">
        SELECT id,party_id,site_name,institutions,create_time,status FROM t_federated_site_manager

        <where>

            <if test="usedSiteListQo.condition!=null">
                and (party_id like #{usedSiteListQo.condition} or site_name like #{usedSiteListQo.condition})
            </if>

            <if test="usedSiteListQo.statusList!=null">
                <foreach collection="usedSiteListQo.statusList" open=" and status  in (" close=")" item="status"
                         separator=",">
                    #{status}
                </foreach>
            </if>

            <if test="usedSiteListQo.institutions != null">
                and institutions=#{usedSiteListQo.institutions}
            </if>

            <if test="usedSiteListQo.groupId!=null">
                and group_id=#{usedSiteListQo.groupId}
            </if>

        </where>
        order by ${usedSiteListQo.orderField} ${usedSiteListQo.orderRule}
        limit #{startIndex}, #{usedSiteListQo.pageSize}
    </select>


    <select id="findInstitutionsCount" resultType="long">

        select COUNT(1) FROM (SELECT COUNT(1), institutions FROM t_federated_site_manager GROUP BY institutions) AS tmp;

    </select>

    <select id="findInstitutions" resultType="com.webank.ai.fatecloud.system.pojo.dto.InstitutionsDto">

        select mu.institutions,IFNULL(sm.count,0) as number from (
        <if test="institutionQo.condition == null">
            select institutions from t_fate_manager_user

            <where>
                and status = 2
                <if test="institutionQo.institutionsArray != null and institutionQo.institutionsArray.length > 0">
                    <foreach collection="institutionQo.institutionsArray" open=" and institutions  in (" close=")"
                             item="institutionsItem"
                             separator=",">
                        #{institutionsItem}
                    </foreach>
                </if>
            </where>
        </if>

        <if test="institutionQo.condition != null">
            select institutions from t_federated_site_manager
            <where>
                and (party_id like #{institutionQo.condition} or site_name like #{institutionQo.condition})

                <if test="institutionQo.institutionsArray != null and institutionQo.institutionsArray.length > 0">
                    <foreach collection="institutionQo.institutionsArray" open=" and institutions  in (" close=")"
                             item="institutionsItem"
                             separator=",">
                        #{institutionsItem}
                    </foreach>
                </if>
                group by institutions

            </where>
        </if>
        order by institutions desc LIMIT #{startIndex}, #{institutionQo.pageSize}
        ) as mu left join (select institutions, count(1) count from t_federated_site_manager where status = 2 group by
        institutions) as sm on
        mu.institutions=sm.institutions

    </select>


    <select id="findPagedSitesForFateManager" resultMap="siteMap">
        SELECT s.*,g.role FROM t_federated_site_manager s,t_federated_group_set g
        <where>
            and s.group_id=g.group_id

            <if test="siteListForFateManagerQo.institutions!=null">
                and s.institutions=#{siteListForFateManagerQo.institutions}
            </if>
            and s.status = 2

            order by s.id desc limit #{startIndex}, #{siteListForFateManagerQo.pageSize}
        </where>

    </select>

    <select id="findInstitutionsInGroup" parameterType="com.webank.ai.fatecloud.system.pojo.qo.InstitutionsInGroup"
            resultType="string">
        SELECT distinct institutions FROM t_federated_site_manager
        <where>
            group_id=#{groupId}

            <if test="statusList!=null">
                <foreach collection="statusList" open=" and status  in (" close=")" item="status" separator=",">
                    #{status}
                </foreach>
            </if>

            order by institutions asc
        </where>

    </select>


    <select id="findUsedSitesCount" parameterType="com.webank.ai.fatecloud.system.pojo.qo.UsedSiteListQo"
            resultType="long">
        SELECT count(1) FROM t_federated_site_manager
        <where>

            <if test="condition != null">
                and (party_id like #{condition} or site_name like #{condition})
            </if>

            <if test="groupId != null">
                and group_id=#{groupId}
            </if>

            <if test="institutions != null">
                and institutions=#{institutions}
            </if>

            <if test="statusList!=null">
                <foreach collection="statusList" open=" and status  in (" close=")" item="status" separator=",">
                    #{status}
                </foreach>
            </if>

        </where>

    </select>

    <select id="countForInstitutions" parameterType="com.webank.ai.fatecloud.system.pojo.qo.InstitutionQo"
            resultType="long">

        <if test="condition == null">
            select count(1) from t_fate_manager_user

            <where>
                and status = 2

                <if test="institutionsArray != null and institutionsArray.length > 0">
                    <foreach collection="institutionsArray" open=" and institutions  in (" close=")"
                             item="institutionsItem"
                             separator=",">
                        #{institutionsItem}
                    </foreach>
                </if>
            </where>

        </if>

        <if test="condition != null">
            select count(1) from ( select institutions from t_federated_site_manager
            <where>
                and (party_id like #{condition} or site_name like #{condition})

                <if test="institutionsArray != null and institutionsArray.length > 0">
                    <foreach collection="institutionsArray" open=" and institutions  in (" close=")"
                             item="institutionsItem"
                             separator=",">
                        #{institutionsItem}
                    </foreach>
                </if>
                group by institutions

            </where>
            ) as tmp

        </if>

    </select>


    <resultMap id="institutionsWithSitesMap" type="com.webank.ai.fatecloud.system.pojo.dto.InstitutionsWithSites">
        <result property="institutions" column="institutions"></result>
        <collection property="sites" ofType="string" javaType="list">
            <result column="site_name"></result>
        </collection>

    </resultMap>

    <select id="findInstitutionsWithSites" parameterType="string"
            resultMap="institutionsWithSitesMap">
        SELECT institutions,site_name FROM t_federated_site_manager
<!--        <where>-->
<!--            and institutions !=#{institutions}-->
<!--            and status=2-->
<!--        </where>-->
            order by institutions asc

    </select>


    <select id="findCountOfSite" parameterType="com.webank.ai.fatecloud.system.pojo.qo.JobOfSiteDimensionQo"
            resultType="long">
        SELECT count(1) FROM t_federated_site_manager s
        <where>
            and institutions !=#{institutions}
            and status=2
        </where>
    </select>

    <select id="findCountOfSitePeriod" parameterType="com.webank.ai.fatecloud.system.pojo.qo.JobOfSiteDimensionPeriodQo"
            resultType="long">
        SELECT count(1) FROM t_federated_site_manager s
        <where>
            and institutions !=#{institutions}
            and status=2
        </where>
    </select>

    <select id="findInstitutionsWithSitesPaged"
            resultMap="institutionsWithSitesMap">
        SELECT institutions,site_name FROM t_federated_site_manager
        <where>
            and institutions !=#{jobOfSiteDimensionQo.institutions}
            and status=2
        </where>
        order by institutions asc, site_name asc limit #{startIndex},#{jobOfSiteDimensionQo.pageSize}

    </select>

    <select id="findInstitutionsWithSitesPagedPeriod"
            resultMap="institutionsWithSitesMap">
        SELECT institutions,site_name FROM t_federated_site_manager
        <where>
            and institutions !=#{jobOfSiteDimensionPeriodQo.institutions}
            and status=2
        </where>
        order by institutions asc, site_name asc limit #{startIndex},#{jobOfSiteDimensionPeriodQo.pageSize}

    </select>

    <select id="findSitesCountForIp" parameterType="com.webank.ai.fatecloud.system.pojo.qo.IpManagerListQo" resultType="long">
        SELECT count(1) FROM t_federated_site_manager s,t_federated_group_set g
        <where>
            and s.group_id=g.group_id
            and s.status=2

            <if test="condition != null and condition != ''">
                and (s.party_id like #{condition} or s.site_name like #{condition})
            </if>

            <if test="institutionsList != null and institutionsList.size > 0">
                <foreach collection="institutionsList" open=" and s.institutions  in (" close=")" item="institutionsItem" separator=",">
                    #{institutionsItem}
                </foreach>
            </if>

            <if test="role != null">
                and g.role=#{role}
            </if>

        </where>
    </select>

    <select id="findPagedSitesForIp"  resultMap="siteMap">
        SELECT s.*,g.role FROM t_federated_site_manager s,t_federated_group_set g
        <where>
            and s.group_id=g.group_id
            and s.status=2

            <if test="ipManagerListQo.condition != null and ipManagerListQo.condition != ''">
                and (s.party_id like #{ipManagerListQo.condition} or s.site_name like #{ipManagerListQo.condition})
            </if>

            <if test="ipManagerListQo.institutionsList != null and ipManagerListQo.institutionsList.size > 0">
                <foreach collection="ipManagerListQo.institutionsList" open=" and s.institutions  in (" close=")" item="institutionsItem" separator=",">
                    #{institutionsItem}
                </foreach>
            </if>

            <if test="ipManagerListQo.role != null">
                and g.role=#{ipManagerListQo.role}
            </if>
            <if test="ipManagerListQo.updateTimeOrder==1">
                order by s.update_time asc
            </if>
            <if test="ipManagerListQo.updateTimeOrder==2">
                order by s.update_time desc
            </if>

            limit #{startIndex}, #{ipManagerListQo.pageSize}

        </where>
    </select>

    <select id="getInstitutionsType" parameterType="string" resultType="string">
        SELECT g.role FROM t_federated_site_manager s,t_federated_group_set g
        <where>
            and s.group_id=g.group_id
            and s.status=2
        </where>
        group by g.role
    </select>

    <select id="selectCountByScenario"  resultType="long">
        SELECT count(1) FROM t_federated_site_manager s,t_federated_group_set g
        <where>
            and s.group_id=g.group_id
            and s.status = 2
            <if test="institutions != null">
                 and s.institutions=#{institutions}
            </if>
            <if test="type == 1">
                and g.role=1
            </if>
            <if test="type == 2">
                and g.role=2
            </if>
        </where>
    </select>

    <select id="findSitesByScenario"  resultMap="siteMap">
        SELECT s.*,g.role FROM t_federated_site_manager s,t_federated_group_set g
        <where>
            and s.group_id=g.group_id
            and s.status = 2
            <if test="siteListForFateManagerQo.institutions != null">
                and s.institutions=#{siteListForFateManagerQo.institutions}
            </if>
            <if test="type == 1">
                and g.role=1
            </if>
            <if test="type == 2">
                and g.role=2
            </if>

            order by s.id desc limit #{startIndex}, #{siteListForFateManagerQo.pageSize}
        </where>
    </select>


</mapper>


