<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.ai.fatecloud.system.dao.mapper.FederatedJobStatisticsMapper">

    <resultMap id="jobStatisticsMap" type="com.webank.ai.fatecloud.system.pojo.dto.JobStatisticsOfSiteDimensionDto">

        <result property="siteGuestId" column="site_guest_id"></result>

        <collection property="institutionsWithHostSites"
                    ofType="com.webank.ai.fatecloud.system.pojo.dto.InstitutionsWithHostSite">

            <result property="institutions" column="institutions"></result>

            <collection property="jobStatisticsList" ofType="com.webank.ai.fatecloud.system.pojo.dto.JobStatistics">
                <result property="siteHostId" column="site_host_id"></result>
                <result property="jobSuccessCount" column="job_success_count"></result>
                <result property="jobFailedCount" column="job_failed_count"></result>
            </collection>
        </collection>

    </resultMap>


    <select id="getJobStatisticsOfSiteDimension"
            parameterType="com.webank.ai.fatecloud.system.pojo.qo.JobOfSiteDimensionQo" resultMap="jobStatisticsMap">
        SELECT * FROM t_job_statistics j
        <where>
            a.sequence in (select * from
            (select distinct sequence from t_federated_site_authority where status !=1 order by sequence desc limit
            #{startIndex}, #{authorityHistoryQo.pageSize}) tmp )
            order by a.sequence desc

        </where>

    </select>


</mapper>
