
.access-box {
    margin: 24px 36px;
    .system-header {
        height: 34px;
        margin-bottom: 24px;
        text-align: right;
        .radio{
            float: left;
            .el-radio-button__inner{
                padding: 8px 0px;
                font-size: 18px;
                width: 180px;
                height: 36px;
                border-left: 0px solid #DCDFE6;
                border-radius:0;
                border:0;
                line-height: 23px;

            }
            .el-radio-button{
                
                .el-radio-button__inner{
                    color: #217AD9;
                    background-color: #E6EBF0 !important;
                }
            }
            .is-active{
                .el-radio-button__inner{
                    color: #fff;
                    background-color: #217AD9 !important;
                }
            }
        }
        
      
      
    }
    .row-add{
        background-color: #fff;
        width: 100%;
        .btn-add{
            height: 42px;
            width: calc(100% - 72px);
            margin: 0 36px;
            border-bottom: 2px solid #E6EBF0;
        }
        .access-add{
            height: 42px;
            font-size: 16px;
            color: #217AD9;
            text-align: center;
            line-height: 42px;
            cursor: pointer;
            span{
                margin-left: 3px;
                vertical-align: 5px;
            }
        }
        .access-add:hover{
            opacity: 0.85;
        }
        .input {
            margin-top: 3px;
            width: 250px;
            float: right;
            .el-input__inner{
                padding-left: 40px
            }
            .search {
                cursor: pointer;
                margin-right: 0px
            }
            .el-input__prefix{
                color: #848C99;
            }
            .search {
                left: 9px;
                position: absolute;
                top:12px;
                cursor: pointer;
            }
        }
    }

    .system-body {
        background-color: #fff;
        position: absolute;
        width: calc(100% - 72px);
        height: calc(100% - 158px);
        .table {
            height: calc(100% - 82px);
            .el-table {
                width: calc(100% - 72px);
                height:100% !important;
                margin: 0px 36px;
                .el-button{
                    padding:0;
                    height: initial;
                    line-height: initial;
                }
                .el-table__row>.cell-td-td>.cell{
                    position: absolute;
                    top:12px;
                    display: inline-block;
                }
            }

        }
    }
    .auto-dialog {
        .el-dialog__header {
            display: none;
        }

        .el-dialog__body {
            padding: 0;
        }

        .dialog-box {
            padding: 36px;

            .dialog-title {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;
            }
            .dialog-line{
                margin: 12px 0;
                font-size: 18px;
            }
            .add-input {
                margin-top: 24px;
                position: relative;
                .input-title{
                    display:inline-block;
                    width: 35%;
                    font-size: 18px;
                    color: #848C99;
                }
                .el-input{
                    border-bottom: 2px solid #E6EBF0;
                    width: 60%;
                }
                .input-warn{
                    border-bottom: 2px solid #FF9D00;
                }
                .el-input__inner {
                     border: 0px;
                    background-color: #fff;
                    height: 32px;
                    font-size: 18px;
                    color: #217AD9;
                }
                .el-checkbox{
                    .el-checkbox__label{
                        font-size: 18px;
                    }
                    .el-checkbox__inner::after {
                        transition: none!important;
                    }
                }
                
                .text-warn{
                    position: absolute;
                    top:35px;
                    left: 140px;
                    color:#FF9D00
                }
            }
            .line-text-one{
                font-size: 24px;
                color: #4E5766;
                text-align: center;
                margin-top: 28px;
            }

            .dialog-foot {
                text-align: center;
                margin: 48px 0 12px 0;

                .el-button {
                    height: 36px;
                    width: 200px;
                    padding: 0;
                    font-size: 18px;

                }
            }

        }
    }
    .add-success-dialog {
        text-align: center;

        //弹框居中
        .el-dialog {
            width: 700px;
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: calc(100% - 30px);
            max-width: calc(100% - 30px);

            .el-dialog__header {
                display: none
            }

            .icon {
                height: 35px;
                font-size: 80px;
                color: #217AD9;
            }

            .line-text-one {
                font-size: 32px;
                margin-top: 15px;
                margin-bottom: 35px;
                color: #217AD9;
                font-weight: 700;
            }

            .line-text-two {
                font-size: 18px;
                margin-bottom: 12px;
            }

            .line-text-three {
                font-size: 18px;
                color: #217AD9;
                margin-bottom: 48px;
                vertical-align: middle;
                .copy-link{
                    display:inline-block;
                    width: 530px;
                    white-space: nowrap; //文本强制不换行；
                    text-overflow:ellipsis; //文本溢出显示省略号；
                    overflow:hidden; //溢出的部分隐藏；
                }
                .copy {
                    margin-left: 20px;
                    cursor: pointer;
                    vertical-align:top
                }
            }
            .line-text-four {
                color: #848C99;
                margin-bottom: 48px;
            }
            .regenerate{
                color: #217AD9;
                cursor: pointer;
            }
            .ok-btn {
                width: 200px;
                font-size: 18px;
                margin-bottom: 34px;
            }
        }
    }
}

