.cooperation {
    position: absolute;
    height: calc(100% - 105px);
    width: 100%;
    background: #F5F8FA;
    padding-top: 12px;
    .cooperation-box {
        width: 1400px;
        
        margin: 0 auto;
        background-color: #fff;
        
        .monitor-header{
            background-color: #F5F8FA;
            height: 36px;
        
            .radio{
                float: left;
               
                .el-radio-button__inner{
                    padding: 7px 20px;
                    font-size: 18px;
                    height: 36px;
                    border-left: 0px solid #DCDFE6;
                    border-radius:0;
                    border:0;
                    line-height: 23px;
                    
                    }
                .el-radio-button{
                    
                    .el-radio-button__inner{
                        color: #217AD9;
                        background-color: #E6EBF0 !important;
                    }
                }
                .is-active{
                    .el-radio-button__inner{
                        color: #fff;
                        background-color: #217AD9 !important;
                    }
                }
            }
        }
        .content {
            width: 1400px;
            position: absolute;
            background-color: #fff;
            height: calc(100% - 48px);
            overflow: auto;
            .type-time{
                font-size: 18px;
                font-weight: bold;
                background-color: #fff;
                padding-top: 20px ;
                padding-left: 20px ;
                margin-bottom: -22px
            }
            .time-picker{
                height: 24px;
                background-color: #fff;
                padding-top: 13px ;
                padding-left: 20px ;
                margin-bottom: -15px;
                .date{
                    font-size: 18px;
                    font-weight: bold;
                    margin-right: 10px;
                }
                .el-date-editor{
                    background-color: #fff;
                    .el-input__inner{
                        width: 280px;
                    }
                }
              
            }
            .content-item{
                background: #fff;
                box-sizing: border-box;
                padding: 20px;
                width: 100%;
                height: 100%;
                margin-bottom: 12px;
                
                .job-alone-complete{
                    font-size: 14px;
                    color: #848C99;
                    margin: 12px 0;
                    
                    .span{
                        color: #217AD9;
                        margin-right: 5px
                    }
                    .complete-failed,
                    .job-alone{
                        display: inline-block;
                    }
                    .complete-failed{
                        float:right;
                    }
                    .waiting,
                    .running,
                    .failed,
                    .success{
                        margin-right:5px;
                        vertical-align: middle;
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius:50%;
                        
                        background: #FF9D00;
                    }
                    .success{
                        margin-left:15px;
                        background: #00C99E;
                    }
                    .failed{
                        margin-left:15px;
                        background: #B8BFCC;
                    }
                    .running{
                        margin-left:15px;
                        background: #4AA2FF;
                    }
                }
                .institutions-jobs{
                    
                    ::-webkit-scrollbar {
                        width: 5px;
                        height: 5px;
                    }
                    .institutions-pagination{
                        text-align: right
                    }
                    .no-date-box{
                        line-height: 100px;
                        text-align: center;
                        color: #909399;
                        font-size: 14px;
                    }
                    .jobs{
                       
                        vertical-align: top;
                        display: inline-block;
                        width: calc(100% - 30px);
                        background: #FAFBFC;
                        padding:0 15px;
                        .jobs-title{
                            
                            font-size: 18px;
                            margin: 12px 0;
                            .title{
                                color: #4E5766;  
                            }
                            .num{
                                color: #217AD9
                            }
                        }
                        .jobs-box{
                            max-height: 580px;
                            overflow: auto;
                            padding: 1px;
                            .jobs-institution{
                                line-height: 24px;
                                height: 24px;
                                .jobs-text{
                                    vertical-align: top;
                                    display: inline-block;
                                    width: 100px;
                                    font-size: 12px;
                                    margin-right: 5px;
                                }
                                .jobs-bar{
                                    height: 4px;
                                    border-radius: 2px;
                                    vertical-align: middle;
                                    display: inline-block;
                                    background-color: #FAFBFC;
                                    margin-right: 8px;
                                    .jobs-bar-running{
                                        float: left;
                                        background-color: #4aa2ff;
                                        height: 100%;
                                    }
                                    .jobs-bar-success{
                                        float: left;
                                        background-color: #00C99E;
                                        height: 100%;
                                    }
                                    .jobs-bar-faile{
                                        float: left;
                                        background-color: #B8BFCC;
                                        height: 100%; 
                                    }
                                    .jobs-bar-waiting{
                                        float: left;
                                        background-color: #FF9D00;
                                        height: 100%; 
                                    }
                                }
                                .text{
                                    font-size: 12px;
                                    display: inline-block;
                                }
                            }
                            .jobs-institution:hover{
                                cursor: pointer;
                                background: #ecf6ff
                            }
                        }
                        
                    }
                }
                .institution-based{
                    // margin-top: 12px;
                    .statistics{
                        font-size: 24px;
                        color: #217AD9;
                        margin-bottom: 12px
                    }
                    .between{
                        font-size: 18px;
                        color: #2D3642;
                        margin-bottom: 12px
                    }
                    .el-table{
                        height: 100% !important;
                    }
                    .el-table__body-wrapper{
                        height: 100% !important;
                    }
                    
                    
                }
                .paginationInstitutionSize{
                    margin-top: 15px;
                    text-align: right
                }
            }
            
           
        }

        
    }

    
}