.deploying {
    position: absolute;
    height: calc(100% - 65px);
    width: 100%;
    overflow: auto;
    background: #F5F8FA;

    .deploying-box {
        box-sizing: border-box;
        // padding: 0 36px;
        background: #fff;
        width: 1400px;
        min-height: 100%;
        margin: 0 auto;

        .serve-title {
            background-color: #F5F8FA;
            .inline {
                display: inline-block;
                margin-left: 36px;
                vertical-align: middle;
                .el-form-item {
                    margin-right: 36px;
                    margin-bottom: 10px
                }
                
                .el-input--mini .el-input__inner {
                    height: 24px;
                    line-height: 24px;
                }

                .el-input--mini .el-input__icon {
                    line-height: 24px;
                }

                .el-form-item__label {
                    color: #4E5766;
                    // font-size: 18px;
                    line-height: 24px;
                }

                .el-form-item__content {
                    line-height: 24px;
                    width: 110px;

                    .el-input__inner {
                        color: #217AD9;
                        font-size: 14px;
                        background: #F5F8FA;
                        border-bottom: 2px solid #B8BFCC
                    }
                }
                .form-item{
                    .el-form-item__content {
                        width: 200px;
                    }
                }
                .option-select{
                    .el-input__inner{
                        border-bottom:2px solid #FF9D00; 
                    }
                }
                .option-partyId{
                    position: absolute;
                    top:25px;
                    left: 0px;
                    color: #FF9D00;
                    font-weight: normal;
                    font-size: 14px;
                    width: 130%;
                }
            }
        }
        .steps-content{
            padding-bottom: 12px;
            background-color: #F5F8FA;
            .define{
                display: inline;
                i{  vertical-align: middle;
                    height: 24px;
                    line-height: 24px;
                    color: #217AD9;
                }
            }
            .steps {
                position: relative;
                vertical-align: middle;
                width: calc(33% - 7px);
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                color: #848C99;
                background-color: #E6EBF0;
                display:inline-block;
                text-align: center;
                .icon{  
                    top:3px;
                    left: 235px;
                    font-weight: bold;
                    position: absolute;
                }
                .circul{
                    vertical-align:-1px;
                    text-align: center;
                    display:inline-block;
                    width: 12px;
                    height: 12px;
                    font-size: 14px;
                    border: 1px solid #848C99;
                    border-radius: 50%;
                    line-height: 13px;
                    margin-right: 5px
                }
                .text{
                    font-size: 14px;
                }
            }
            
            .steps-two {
                .circul{
                    left: 95px;
                }
            }
            .hover{
                cursor: pointer;
                display: inline;
                .steps{
                    background-color: #C1DEFC;
                    .circul{
                        border: 1px solid #217AD9;
                    }
                    span{
                        color: #217AD9;
                    }
                }
            }

            .activa{
                cursor: pointer;
                display: inline;
                .steps{
                    background-color: #6CB2FE;
                    .circul{
                        border: 1px solid #fff;
                    }
                    span{
                        color: #fff;
                    }
                }
               
               
            }
            
        }
        .row-content {
            padding-top: 24px;
            height: 36px;
            background-color: #F5F8FA;
            .radio{
                float: left;
                .el-radio-button__inner{
                    padding: 7px 20px;
                    font-size: 18px;
                    height: 36px;
                    border-left: 0px solid #DCDFE6;
                    border-radius:0;
                    border:0;
                    line-height: 23px;
                    min-width: 180px;
                }
                .el-radio-button{
                    
                    .el-radio-button__inner{
                        color: #217AD9;
                        background-color: #E6EBF0 !important;
                    }
                }
                .is-active{
                    .el-radio-button__inner{
                        color: #fff;
                        background-color: #217AD9 !important;
                    }
                }
            }
        }
        .deploying-body {
            position: absolute;
            width: 1200px;
            height: calc(100% - 217px);
            // padding: 0 36px;
            .warn-box{
                height: 42px;
                line-height: 42px;
                color: #FF9D00;
                background-color: #FFFAF2;
                margin-top: 15px;
                font-size: 14px;
                i{
                    margin: 0px 6px 0px 12px;
                    font-size: 18px; 
                }
            }
            .row-activa{   
                // text-align: right;
                border-bottom: 2px solid #E6EBF0;
                width:100%;
                height: 42px;
                line-height: 42px;
                .version{
                    margin-left: 36px;
                    display: inline-block;
                    .el-select{
                        width: 150px;
                        height: 42px;
                        line-height: 42px;
                    }
                    input{
                        box-shadow: inset 0 0 0 1000px #fff!important;
                        color:#217AD9;
                        font-size: 16px;
                        height: 36px;
                    }
                    input::-webkit-input-placeholder {
                        color:#217AD9;
                        font-size: 16px;
                    }
                }
                .el-button{
                    margin-right: 36px;
                    text-align: right;
                    float: right;
                    font-size: 18px;
                    padding: 0;
                    height: 42px;
                    line-height: 42px;
                }
                img{
                    width: 24px;
                    height: 24px;
                    background-color: #217AD9;
                    margin-right: 4px;
                    margin-top: -4px;
                    vertical-align:middle;
                    border-radius: 50%;
                }
                .el-button:hover{
                    .activa {
                        background-color: #4AA2FF
                    }
                }
                .disable{
                    background-color: #C0c4cc
                }
            }
            .table {
                padding: 0 36px;
                height: calc(100% - 74px);
                .el-table {
                    height:100% !important;
                    img{
                        display: inline;
                        vertical-align: text-top;
                    }
                    i{
                        vertical-align: middle;
                    }
                    .ip-text{
                        display:inline-block;
                        width: 45%;
                    }
                    .edit{
                        color: #217AD9;
                        cursor: pointer;
                        margin-left: 5px
                    }
                    .close-a,
                    .close{
                        margin-left: 5px;
                        color: #217AD9;
                        cursor: pointer;
                        font-weight: bold;
                    }
                    .close-a{
                        color: inherit;
                    }
                    .el-input{
                        display:inline-block;
                        margin-left: -14px;
                        width: 49%;
                        .el-input__inner {
                            height: 20px;
                            // line-height: 24px;
                            color: #217AD9;
                            font-size: 14px;
                            background: #F5F8FA;
                            border-bottom: 2px solid #B8BFCC
                        }
                    }
                    .index{
                        .cell{
                            position: absolute;
                            top:13px;
                        }
                    }
                    .el-button{
                        padding:0
                    }
                }
                .el-table::before {
                    background-color: #fff; 
                }
            }
            .btn{
                text-align: center;
                .el-button{
                    width: 200px;
                    height: 36px;
                    line-height: 36px;
                    padding: 0;
                    font-size: 18px;
                }
            }
        }
    }
}