.job-monitor{
    position: absolute;
    height: calc(100% - 105px);
    width: 100%;
    background: #F5F8FA;
    padding-top: 12px;
    .job-monitor-box{
        width: 1400px;
        margin: 0 auto;
        background-color: #fff;
        overflow: auto;
        height:100%;
        .job-monitor-date{
            width: calc(100% - 48px);
            height: 430px;
            background: #FFF;
            padding: 12px 24px;
            font-size: 14px;
            .select-date{
                height: 36px;
                padding: 12px 0;
                .picker{
                    vertical-align: middle
                }
                .institution{
                    margin: 0px 12px 0 24px;
                    font-size: 14px;
                }
                .select{
                    vertical-align: middle;
                    margin-right: 12px;
                    color: #848C99
                    
                }
            }
            .totals{
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                .total-jobs{
                    color: #848C99;
                    margin-right: 6px;
                }
                .span{
                    margin-right: 24px;
                }
                .jobs-sign{
                    float: right;
                    color: #848C99;
                    .failed-sign,
                    .success-sign{
                        vertical-align: middle;
                        display: inline-block;
                        width:12px ;
                        height: 12px;
                        border-radius: 50%;
                        margin-left: 20px;
                        
                    }
                    .success-sign{
                        background-color: #00C99E
                    }
                    .failed-sign{
                        background-color: #E6EBF0
                    }
                    
                }
            }
            .job-modeling{
                margin-top: 24px;
                text-align: center;
                font-size: 14px;
                .active-color{
                    background-color: rgba(74, 162, 255, 0.1);
                }
                .modeling:hover{
                    background-color:rgba(74, 162, 255, 0.1);
                    
                    cursor: pointer;
                }
                .modeling{
                    display: flex;
                    flex-direction: column-reverse;
                    margin: 0 auto;
                    width: 100px;
                    height: 250px;
                    .success,
                    .failed{
                        margin: 0 auto;
                        width: 10px;
                        height: 40%;
     
                    }
                    .failed{
                        border-radius: 0px 0px 5px 5px;
                        background-color: #E6EBF0;
                    }
                    .success{
                        border-radius: 5px 5px 0 0;
                        background-color: #00C99E;
                    }
                }
                .name{
                    margin: 10px 0;
                }
                i{
                    color: #217AD9;
                }
            }
        }
        .job-details{
            background-color: #fff;
            width: calc(100% - 48px);
            max-height: 1272px;
            margin: 12px 0;
            padding: 0px 24px;
            .job-info{
                height: 52px;
                line-height: 52px;
                font-size: 14px;
                .total-jobs{
                    color: #848C99;
                    margin-right: 6px;
                }
                .span{
                    margin-right: 24px;
                }
            }
            .table{
                margin-bottom: 24px;
                .table-head{
                    background-image: linear-gradient(#fff, #F5F7FA);
                    height: 40px;
                    border-top: 1px solid #E7EBF0;
                    border-left: 1px solid #E7EBF0;
                    border-right: 1px solid #E7EBF0;
                }
                .el-table{
                    margin: 0px 0px;
                    tr{
                        .cell{
                            color: #4E5766
                        }
                    }
                    // height: 100% !important;
                }
            }
            
        }
        .echarts-line{
            
            .line-title{
                border-top: 2px solid #E6EBF0;
                font-size: 18px;
                color: #505765;
                font-weight: bold;
                height: 48px;
                line-height: 48px;
            }
            .failed-rate-echart{
                width: 100%;
                .echarts{
                    width: 100%;
                }
            }
        }
    }
   
}