.conrtol-header{
  padding: 20px;
  border-bottom: 1px solid #eef0f2;
}

.control {
  padding: 20px 20px 0px;
  width: 100%;

  .el-dialog__header {
    border-bottom: 1px solid #aaaaaa;
  }
  
  .el-dialog__body {
    padding: 25px 0px !important;
  }

  .el-dialog__footer {
    border-top: 1px solid #aaaaaa;
  }

  .control-picker {
    padding-bottom: 25px;
  }

  .control-detail {
    margin-top: 20px;
  }
  
  .control-table {
    .el-table th {
      background-color: #E5E5E5;
    }
  }
}