.apply {
  font-family: "微软雅黑";
  font-weight: 500;
  height: calc(100vh - 50px);
  .apply-filter-box {
    padding: 20px;
    border-bottom: 1px solid #EEF0F2;
    .el-select .el-input {
      min-width: 150px;
    }
    .longgest{
      max-width: 450px
    }
  }

  .apply-table {
    padding: 20px;
    height: calc(100% - 90px);
    .table-temp {
      height: 100%;
    }

    .el-table th {
      background-color: #E5E5E5;
    }
  }

  .dialog-title {
    text-align: left;
    padding: 0px 10px;
    font-weight: bold;
    width: 100%;
    display: block;
    padding-bottom: 15px;
  }

  .el-dialog__header {
    border-bottom: 1px solid #aaaaaa;
  }
  
  .el-dialog__body {
    padding: 25px 40px 25px !important;
  }

  .el-dialog__footer {
    border-top: 1px solid #aaaaaa;
  }

  .dialog-content-first-item {
    padding-top: 15px;
  }
  .dialog-content-item {
    padding-top: 5px;
  }
  .dialog-content-last-item {
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .checkbox-between-label {
    padding-left: 10px;
  }

  .checkbox-between-label-vertical {
    padding-left: 25px;
  }
}

.is-light {
  border-radius: 0px;
  border: 0px !important;
  box-shadow: 0px 0px 4px #aaaaaa;
  padding: 15px 20px;
}

.reject-dialog-label {
  width: 80px;
}

.el-dialog__body {
  padding: 5px 40px 25px !important;
}

.input-with-select .el-input-group__prepend {
  background-color: #fff;
  .el-select .el-input {
    width: 100px;
  }
}