.partyid-box {
    .partyid {
        margin: 24px 36px;

        .partyid-header {
            height: 34px;
            margin-bottom: 24px;
            text-align: right;

            .input {
                width: 250px;
                margin-left: 16px;

                .search {
                    cursor: pointer;
                    margin-right: 0px
                }
            }

            .sel-role {
                width: 85px;
                margin-left: 16px;
            }

            .sel-institutions {
                width: 115px;
                margin-left: 16px;
            }
            .add{
                width: initial;
                color: #217AD9;
                height: 36px;
                vertical-align: middle;
                font-size: 14px;
                img{
                    margin-right: 2px;
                    vertical-align: -7px
                }
            }
            .add:hover{
                opacity: 0.85;
            }
        }

        .partyid-body {
            background-color: #fff;
            position: absolute;
            width: calc(100% - 72px);
            height: calc(100% - 114px);

            .table {
                
                height: calc(100% - 104px);
                .el-table {
                    width: calc(100% - 72px);
                    height:100% !important;
                    .el-button{
                        padding:0;
                        height: initial;
                        line-height: initial;
                    }

                    .edit {
                        margin-right: 10px;
                        cursor: pointer;
                        color: #217AD9
                    }

                    .delete {
                        cursor: pointer;
                        color: #217AD9
                    }
                }

            }
        }
    }

    .partyid-delete-dialog {

        //弹框居中
        .el-dialog {
            height: 283px;
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: calc(100% - 30px);
            max-width: calc(100% - 30px);
        }

        .el-dialog__body {
            padding: 64px 20px;
        }

        .el-dialog__header {
            display: none;
        }

        text-align: center;

        .line-text-one {
            font-size: 24px;
            color: #2D3642;
            margin-bottom: 24px
        }

        .line-text-two {
            font-size: 18px;
            color: #848C99;
            margin-bottom: 48px
        }

        .ok-btn {
            width: 180px;
            font-size: 18px;
        }

    }

}

// .el-select-dropdown__item {
//     font-size: 18px;
// }