.prepare {
    background: #fff;
    position: absolute;
    .prepare-box {
        box-sizing: border-box;
        padding: 0 36px;
        width: 1200px;
        margin: 0 auto;
        .middle-title{
            text-align: center;
            color: #217AD9;
            font-size: 24px;
            margin-top: 64px;
            font-weight: bold;
        }
        .middle-text{
            margin-top: 24px;
            text-align: center;
            font-size: 18px;
            color: #2D3642;
        }
        .middle-box{
            
            border-top:2px solid #E6EBF0; 
            border-bottom:2px solid #E6EBF0; 
            margin: 36px auto;
            width: 556px;
            text-align: center;

            .left,.right{
                text-align: left;
                width: 150px;
                font-size: 18px;
                color: #848C99;
                display: inline-block;
                div{
                    margin: 24px 0;
                }
            }
            .right{
                color: #217AD9;
            }
        }
        .foot-text{
            text-align: center;
            color: #848C99;
            font-size: 16px;
        }
        .foot-btn{
            text-align: center;
            margin: 48px 0;
            .el-button{
                width: 200px;
                height: 36px;
                line-height: 36px;
                padding: 0;
                font-size: 18px;
            }
        }
       
    }
}