.site-add {
    margin: 24px 36px;

    .add-info {
        position: absolute;
        height: calc(100% - 56px);
        width: calc(100% - 72px);
        background: #fff;
        overflow: auto;

        .title {
            text-align: center;
            color: #217AD9;
            font-size: 32px;
            margin: 64px 0 64px 0;
            font-weight: 600;
        }

        .el-form {
            margin: 0 auto;
            width: 650px;

            .el-form-item {
                margin-bottom: 10px;

                .stienamewarn,
                .institutionwarn,
                .rolewarn,
                .partyidwarn,
                .entranceswarn,
                .exitwarn {
                    border-bottom: 2px #FF9D00 solid !important;
                }
               
                .info-text {
                    border-bottom: 2px #fff solid;
                    font-size: 18px;
                    color: #2D3642;
                    display: inline;
                }
                .link-text{
                    font-size: 18px;
                    display: inline-block;
                    white-space: nowrap; //文本强制不换行；
                    text-overflow: ellipsis; // 文本溢出显示省略号；
                    overflow: hidden; //溢出的部分隐藏；
                    width: 95%;
                    height: 30px;
                }
                .edit-text {
                    border-bottom: 2px #E6EBF0 solid;
                    height: 36px;
                    font-size: 18px;
                    color: #2D3642;
                    display: inline-block;
                    width: 100%;
                    .plus {
                        position: absolute;
                        right: 5px;
                        top: 12px;
                        cursor: pointer;
                        color: #217AD9;
                        font-size: 14px;
                        font-weight: 900;
    
                    }
                    
                    .el-select-dropdown {
                        .el-select-dropdown__item {
                            font-size: 18px
                        }
                    }
                    //改变placeholder颜色
                    input::-webkit-input-placeholder {
                        /* WebKit browsers 适配谷歌 */
                        color: #B8BFCC;
                        font-size: 18px;
                    }
    
                    input:-moz-placeholder {
                        /* Mozilla Firefox 4 to 18 适配火狐 */
                        color: #B8BFCC;
                        font-size: 18px;
                    }
                    
                    .el-input__inner {
                        background:#fff;
                        font-size: 18px;
                        color: #2D3642;
                        padding: 0 0;
                        height: 30px;
    
                    }
    
                }
                //选择器
                .el-select{
                    .el-input__inner {
                        vertical-align:middle !important;
                    }
                }
                .plus-text {
                    // border-bottom: 2px #FF9D00 solid !important;
                    .el-input__inner {
                        width: 94%;
                        white-space: nowrap; //文本强制不换行；
                        text-overflow: ellipsis; // 文本溢出显示省略号；
                        overflow: hidden; //溢出的部分隐藏；
                    }   
                }
                .el-input__icon {
                    margin-top: 7px;
                    height: 30px;
                    line-height: 30px;
                }
               //icon显示
                .view {
                    position: absolute;
                    right: -35px;
                    cursor: pointer;
                    top:10px;
                }
                .view:hover{
                    opacity: 0.7;
                }
                .tools:hover{
                    color: #217AD9;
                }
                .copy{
                    position: absolute;
                    right: -45px;
                    color: #217AD9;
                    cursor: pointer;
                    font-size: 18px;
                }
                 //错误提示
                .el-form-item__error{
                    top:92%;
                    color: #FF9D00;
                    font-size: 14px
                }
                //表单标题
                .el-form-item__label {
                    font-size: 18px;
                    color: #848C99;
                }
                
                .el-form-item__label:before{
                    display: none
                }
                .add-institutions{
                    position: absolute;
                    cursor: pointer;
                    top:0;
                    margin-left: 10px;
                    font-size: 18px;
                    color: #217AD9;

                }
            }

            .dropdown {
                line-height: 28px;
                background-color: #F5F8FA;
                width: 100%;

                .down {
                    color: #848C99;
                    font-size: 14px;
                    position: absolute;
                    top: 7px;
                    right: 10px;
                    z-index: 999;
                    cursor: pointer;
                }

                .down-text {
                    padding: 0px 0px 0px 10px;
                    width: 90%;
                    // font-size: 14px;
                    height: 29px;
                    color: #848C99;
                    white-space: nowrap; //文本强制不换行；
                    text-overflow: ellipsis; //文本溢出显示省略号；
                    overflow: hidden; // 溢出的部分隐藏；
                }

                .el-textarea__inner {
                    color: #848C99;
                    border: 0px;
                    outline: none;
                    resize: none;
                    padding: 3px 30px 5px 10px;
                }
            }

            .text-warn {
                position: absolute;
                width: 100%;
                top: 30px;
                left: 0;
                color: #FF9D00;
                font-size: 14px;
            }
        }

        .Submit {
            margin: 60px 0;
            text-align: center;

            .el-button {
                font-size: 18px;
                width: 260px;
            }
        }

    }

    .ok-dialog {
        text-align: center;

        //弹框居中
        .el-dialog {
            width: 700px;
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: calc(100% - 30px);
            max-width: calc(100% - 30px);

            .el-dialog__header {
                display: none
            }

            .icon {
                font-size: 80px;
                color: #217AD9;
            }

            .line-text-one {
                font-size: 32px;
                margin-top: 16px;
                margin-bottom: 60px;
                color: #217AD9;
                font-weight: 700;
            }

            .line-text-two {
                font-size: 18px;
                margin-bottom: 12px;
            }

            .line-text-three {
                font-size: 18px;
                color: #217AD9;
                margin-bottom: 52px;
                vertical-align: middle;
                .copy-link{
                    display:inline-block;
                    width: 530px;
                    white-space: nowrap; //文本强制不换行；
                    text-overflow:ellipsis; //文本溢出显示省略号；
                    overflow:hidden; //溢出的部分隐藏；
                }
                .copy {
                    margin-left: 20px;
                    cursor: pointer;
                    vertical-align:top
                }
            }

            .ok-btn {
                width: 200px;
                font-size: 18px;
                margin-bottom: 34px;
            }
        }
    }

    .site-toleave-dialog {

        //弹框居中
        .el-dialog {
            height: 284px; //弹框宽度
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: calc(100% - 30px);
            max-width: calc(100% - 30px);
        }

        .el-dialog__body {
            padding: 64px 20px;
        }

        .el-dialog__header {
            display: none;
        }

        text-align: center;

        .line-text-one {
            font-size: 24px;
            color: #2D3642;
            margin-bottom: 24px
        }

        .line-text-two {
            font-size: 18px;
            color: #848C99;
            margin-bottom: 48px
        }

        .sure-btn {
            width: 180px;
            font-size: 18px
        }

    }
}

