.switch-box {
    margin: 0px 36px;

    .card {
        margin-top: 25px;
        vertical-align: top;
        display: inline-block;
        width: 480px;
        height: 150px;
        background-color: #fff;
        margin-right: 25px;
        padding: 30px;

        .card-switch,
        .card-title {

            display: inline-block;
            margin-bottom: 25px;
        }

        .card-title {
            font-size: 28px;
            font-weight: bold;
            color: #217AD9;
            width: 50%;
            text-align: left
        }

        .card-switch {
            width: 50%;
            text-align: right
        }

        .card-text {
            font-size: 18px;
            color: #848c99;
            line-height: 35px;
        }

    }

    .switch-dialog {
        .el-dialog__body {
            padding: 64px 64px 48px 64px;
        }
        .el-dialog__header {
            display: none;
        }
        text-align: center;
        .line-text-one {
            font-size: 24px;
            color: #2D3642;
            line-height: 48px;
            margin-bottom: 34px
        }
        .line-text-two {
            font-size: 18px;
            color: #217AD9;
            line-height: 34px;
            margin-bottom: 34px
        }
        .ok-btn {
            width: 180px;
            font-size: 18px;
        }
        .cancel-btn{
            width: 180px;
            font-size: 18px;
        }

    }

}