<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.ai.fatecloud.dao.StationMapper">
  <resultMap id="BaseResultMap" type="com.webank.ai.fatecloud.pojo.Station">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="portal_url" jdbcType="VARCHAR" property="portalUrl" />
    <result column="export_url" jdbcType="VARCHAR" property="exportUrl" />
    <result column="secret_info" jdbcType="VARCHAR" property="secretInfo" />
    <result column="role_type" jdbcType="TINYINT" property="roleType" />
    <result column="node_status" jdbcType="TINYINT" property="nodeStatus" />
    <result column="node_public" jdbcType="TINYINT" property="nodePublic" />
    <result column="detective_status" jdbcType="TINYINT" property="detectiveStatus" />
    <result column="last_detective_time" jdbcType="TIMESTAMP" property="lastDetectiveTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="f_description" jdbcType="VARCHAR" property="fDescription" />
    <result column="organization_desc" jdbcType="VARCHAR" property="organizationDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, portal_url, export_url, secret_info, role_type, node_status, node_public, detective_status, 
    last_detective_time, create_time, update_time, f_description, organization_desc
  </sql>
  <select id="selectByExample" parameterType="com.webank.ai.fatecloud.pojo.StationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ai_fdn_data_node
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitClause != null">
      limit ${limitClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ai_fdn_data_node
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ai_fdn_data_node
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.webank.ai.fatecloud.pojo.StationExample">
    delete from ai_fdn_data_node
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.webank.ai.fatecloud.pojo.Station">
    insert into ai_fdn_data_node (id, portal_url, export_url, 
      secret_info, role_type, node_status, 
      node_public, detective_status, last_detective_time, 
      create_time, update_time, f_description, 
      organization_desc)
    values (#{id,jdbcType=BIGINT}, #{portalUrl,jdbcType=VARCHAR}, #{exportUrl,jdbcType=VARCHAR}, 
      #{secretInfo,jdbcType=VARCHAR}, #{roleType,jdbcType=TINYINT}, #{nodeStatus,jdbcType=TINYINT}, 
      #{nodePublic,jdbcType=TINYINT}, #{detectiveStatus,jdbcType=TINYINT}, #{lastDetectiveTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{fDescription,jdbcType=VARCHAR}, 
      #{organizationDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.webank.ai.fatecloud.pojo.Station">
    <selectKey keyProperty="id" keyColumn="id" resultType="Long" order="AFTER">
      select last_insert_id();
    </selectKey>

    insert into ai_fdn_data_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="portalUrl != null">
        portal_url,
      </if>
      <if test="exportUrl != null">
        export_url,
      </if>
      <if test="secretInfo != null">
        secret_info,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
      <if test="nodeStatus != null">
        node_status,
      </if>
      <if test="nodePublic != null">
        node_public,
      </if>
      <if test="detectiveStatus != null">
        detective_status,
      </if>
      <if test="lastDetectiveTime != null">
        last_detective_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="fDescription != null">
        f_description,
      </if>
      <if test="organizationDesc != null">
        organization_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="portalUrl != null">
        #{portalUrl,jdbcType=VARCHAR},
      </if>
      <if test="exportUrl != null">
        #{exportUrl,jdbcType=VARCHAR},
      </if>
      <if test="secretInfo != null">
        #{secretInfo,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=TINYINT},
      </if>
      <if test="nodeStatus != null">
        #{nodeStatus,jdbcType=TINYINT},
      </if>
      <if test="nodePublic != null">
        #{nodePublic,jdbcType=TINYINT},
      </if>
      <if test="detectiveStatus != null">
        #{detectiveStatus,jdbcType=TINYINT},
      </if>
      <if test="lastDetectiveTime != null">
        #{lastDetectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fDescription != null">
        #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="organizationDesc != null">
        #{organizationDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.webank.ai.fatecloud.pojo.StationExample" resultType="java.lang.Long">
    select count(*) from ai_fdn_data_node
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ai_fdn_data_node
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.portalUrl != null">
        portal_url = #{record.portalUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.exportUrl != null">
        export_url = #{record.exportUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.secretInfo != null">
        secret_info = #{record.secretInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null">
        role_type = #{record.roleType,jdbcType=TINYINT},
      </if>
      <if test="record.nodeStatus != null">
        node_status = #{record.nodeStatus,jdbcType=TINYINT},
      </if>
      <if test="record.nodePublic != null">
        node_public = #{record.nodePublic,jdbcType=TINYINT},
      </if>
      <if test="record.detectiveStatus != null">
        detective_status = #{record.detectiveStatus,jdbcType=TINYINT},
      </if>
      <if test="record.lastDetectiveTime != null">
        last_detective_time = #{record.lastDetectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fDescription != null">
        f_description = #{record.fDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationDesc != null">
        organization_desc = #{record.organizationDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ai_fdn_data_node
    set id = #{record.id,jdbcType=BIGINT},
      portal_url = #{record.portalUrl,jdbcType=VARCHAR},
      export_url = #{record.exportUrl,jdbcType=VARCHAR},
      secret_info = #{record.secretInfo,jdbcType=VARCHAR},
      role_type = #{record.roleType,jdbcType=TINYINT},
      node_status = #{record.nodeStatus,jdbcType=TINYINT},
      node_public = #{record.nodePublic,jdbcType=TINYINT},
      detective_status = #{record.detectiveStatus,jdbcType=TINYINT},
      last_detective_time = #{record.lastDetectiveTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      f_description = #{record.fDescription,jdbcType=VARCHAR},
      organization_desc = #{record.organizationDesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.webank.ai.fatecloud.pojo.Station">
    update ai_fdn_data_node
    <set>
      <if test="portalUrl != null">
        portal_url = #{portalUrl,jdbcType=VARCHAR},
      </if>
      <if test="exportUrl != null">
        export_url = #{exportUrl,jdbcType=VARCHAR},
      </if>
      <if test="secretInfo != null">
        secret_info = #{secretInfo,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=TINYINT},
      </if>
      <if test="nodeStatus != null">
        node_status = #{nodeStatus,jdbcType=TINYINT},
      </if>
      <if test="nodePublic != null">
        node_public = #{nodePublic,jdbcType=TINYINT},
      </if>
      <if test="detectiveStatus != null">
        detective_status = #{detectiveStatus,jdbcType=TINYINT},
      </if>
      <if test="lastDetectiveTime != null">
        last_detective_time = #{lastDetectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fDescription != null">
        f_description = #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="organizationDesc != null">
        organization_desc = #{organizationDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webank.ai.fatecloud.pojo.Station">
    update ai_fdn_data_node
    set portal_url = #{portalUrl,jdbcType=VARCHAR},
      export_url = #{exportUrl,jdbcType=VARCHAR},
      secret_info = #{secretInfo,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=TINYINT},
      node_status = #{nodeStatus,jdbcType=TINYINT},
      node_public = #{nodePublic,jdbcType=TINYINT},
      detective_status = #{detectiveStatus,jdbcType=TINYINT},
      last_detective_time = #{lastDetectiveTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      f_description = #{fDescription,jdbcType=VARCHAR},
      organization_desc = #{organizationDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>