.access {
    position: absolute;
    height: calc(100% - 105px);
    width: 100%;
    
    background: #F5F8FA;
    padding-top: 12px;
 
    .access-box {
        box-sizing: border-box;
        background: #fff;
        width: 1400px;
        height: 100%;
        margin: 0 auto;
        overflow: auto;
        .partyid-header {
            height: 40px;
            // padding: 12px 0;
            text-align: right;
            border-bottom: 2px solid #E6EBF0;
           
            .el-button{
                padding: 0;
                height: 36px;
                line-height: 36px;
            }
            .el-input__icon {
                color: #848C99;
                line-height: 36px;
            }
            .el-input__inner {
               
                height: 36px;
                line-height: 36px;
            }
            .add{
                span{
                    color: #217AD9;
                    vertical-align: 5px;
                }
                float: left;
                margin-top: 2px;
                font-size: 16px;
                margin-left: 24px;
            }
            .add:hover{
                opacity: 0.85;
            }
            .input {
                margin-top: 2px;
                width: 250px;
                margin-left: 16px;
                .search {
                    cursor: pointer;
                }
            }
            .go{
                float: right;
                width: 64px;
                margin-left: 16px;
                margin-right: 24px;
                font-size: 16px;
                margin-top: 2px;
                
            }
            .sel-institutions {
                margin-top: 2px;
                width: 115px;
                margin-left: 16px;
            }
        }

        .table {
            height: calc(100% - 104px);
            padding: 0 24px;
            .el-table {
                width: 100%;
                height:calc(100% + 50px) !important;
                th,
                td{
                    padding: 9px 0;
                }
                .el-button{
                    padding:0;
                    height: initial;
                    line-height: initial;
                }

                .edit {
                    margin-right: 10px;
                    cursor: pointer;
                    color: #217AD9
                }

                .delete {
                    cursor: pointer;
                    color: #217AD9
                }
            }
        }
    }
    .access-delete-dialog {
        .el-dialog__body{
            padding: 10px 24px 24px;
        }

        text-align: center;

        .line-text-one {
            font-size: 16px;
            color: #4E5766;
            margin-bottom: 36px;
            font-weight: bold;
        }

    }
    .access-add-dialog {
        .el-dialog__header {
            padding: 0;
        }

        .el-dialog__body {
            padding: 24px;
        }

        .dialog-box {
            padding: 0;
            .dialog-title {
                font-size: 18px;
                color: #505765;
                font-weight: bold;
                margin-bottom: 36px
            }
            .role-select{
                height: 105px !important;
                .el-form-item__content{
                    display: flex;
                    .el-radio-group{
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0;
                        .el-radio{
                            margin-bottom: 20px;
                            .el-radio__label{
                                font-size: 16px
                            }
                            .el-radio__inner::after {
                                transition: none!important;
                            } 
                        }
                               
                    }
                }
    
            }

            .el-form-item{
                margin-bottom: 10px;
            }
            .add-input {
                position: relative;
                height: 36px;
                line-height: 36px;
                padding: 0 12px;
                .input-title{
                    display:inline-block;
                    width: 20%;
                    font-size: 16px;
                    color: #848C99;
                    margin-bottom: 24px;
                }
                .el-input{
                    border-bottom: 1px solid #E6EBF0;
                    width: 75%;
                }
                .el-select{
                    width: 75%;
                    .el-input{
                        border-bottom: 1px solid #E6EBF0;
                        width: 100%;
                    }
                }
                .el-input__icon {
                    color: #848C99;
                    line-height: 36px;
                }
                .el-input__inner {
                    background-color: #fff;
                    color: #2D3642;
                    border: 0px;
                    outline: none;
                    height: 36px;
                    line-height: 36px;
                    border-radius: 0;
                    font-size: 16px
                }
                
                .el-form-item__error{
                    top: 42px;
                    left: 140px;
                    color:#FF9D00;
                    font-size: 14px;
                    
                }
                // .input-warn{
                //     border-bottom: 2px solid #FF9D00;
                // }
                // .text-warn{
                //     position: absolute;
                //     top:30px;
                //     left: 140px;
                //     color:#FF9D00
                // }
            }
            .permission{
                line-height: 36px;
                margin-top: 15px;
                padding: 0 12px;
                .input-title{
                    display:inline-block;
                    width: 20%;
                    font-size: 16px;
                    color: #848C99;
                    margin-bottom: 24px;
                }
                .item{
                    display: inline-block;
                    vertical-align: top;
                    div{
                        line-height: 36px;
                        font-size: 16px;
                        
                    }
                    .show-item{
                        color: #217AD9;
                        i{
                            font-weight: bold;
                            margin-right: 5px;
                        }
                    }
                    .hide-item{
                        color: #B8BFCC;
                        span{
                            margin-left: 24px;
                        }
                    }
                }
            }
            .line-text-one{
                font-size: 16px;
                color: #4E5766;
                text-align: center;
                margin-top: 28px;
            }

            .dialog-foot {
                text-align: center;
                margin: 36px 0 0 0;
                
            }

        }
    }
}
