.access {
    position: absolute;
    height: calc(100% - 65px);
    width: 100%;
    overflow: auto;
    background: #F5F8FA;

    .access-box {
        box-sizing: border-box;
        padding: 0 36px;
        background: #fff;
        width: 1200px;
        min-height: 100%;
        margin: 0 auto;
     
    
        .partyid-header {
            height: 36px;
            padding: 24px 0;
            text-align: right;
            .el-button{
                padding: 0;
                height: 36px;
                line-height: 36px;
            }
            .el-input__icon {
                color: #848C99;
                line-height: 36px;
            }
            .el-input__inner {
                background-color: #E6EBF0;
                color: #848C99;
                border: 0px;
                outline: none;
                height: 36px;
                line-height: 36px;
                border-radius: 0;
            }
            .add{
                float: left;
                width: 126px;
                font-size: 16px
            }
            .input {
                width: 250px;
                margin-left: 16px;
                .search {
                    cursor: pointer;
                    margin-right: 0px
                }
            }
            .go{
                float: right;
                width: 64px;
                margin-left: 16px;
                font-size: 16px
            }
            .sel-role {
                width: 85px;
                margin-left: 16px;
            }
            .sel-institutions {
                width: 115px;
                margin-left: 16px;
            }
        }

        .table {
      
            height: calc(100% - 104px);
            .el-table {
                width: 100%;

                height:100% !important;
                .el-button{
                    padding:0;
                    height: initial;
                    line-height: initial;
                }

                .edit {
                    margin-right: 10px;
                    cursor: pointer;
                    color: #217AD9
                }

                .delete {
                    cursor: pointer;
                    color: #217AD9
                }
            }

        }
    }
    .access-delete-dialog {
        .el-dialog__body{
            padding: 40px;
        }
        .el-button{
            padding: 0;
            height: 36px;
            line-height: 36px;
        }


        .el-dialog__header {
            display: none;
        }

        text-align: center;

        .line-text-one {
            font-size: 24px;
            color: #4E5766;
            margin-bottom: 48px
        }

        .ok-btn {
            width: 180px;
            font-size: 18px;
        }

    }
    .access-add-dialog {
        .el-dialog__header {
            display: none;
        }

        .el-dialog__body {
            padding: 0;
        }

        .dialog-box {
            padding: 36px;

            .dialog-title {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;
                margin-bottom: 48px
            }
            .el-form-item{
                margin-bottom: 10px;
            }
            .add-input {
                margin-top: 12px;
                position: relative;
                height: 36px;
                line-height: 36px;
                .input-title{
                    display:inline-block;
                    width: 20%;
                    font-size: 18px;
                    color: #848C99;
                    margin-bottom: 24px;
                }
                .el-input{
                    border-bottom: 1px solid #E6EBF0;
                    width: 75%;
                }
                .el-select{
                    width: 75%;
                    .el-input{
                        border-bottom: 1px solid #E6EBF0;
                        width: 100%;
                    }
                }
                .el-input__icon {
                    color: #848C99;
                    line-height: 36px;
                }
                .el-input__inner {
                    background-color: #fff;
                    color: #2D3642;
                    border: 0px;
                    outline: none;
                    height: 36px;
                    line-height: 36px;
                    border-radius: 0;
                    font-size: 16px
                }
                .el-radio-group{
                    .el-radio__label{
                        font-size: 16px
                    }
                    .el-radio__inner::after {
                        transition: none!important;
                    }        
                }
                .el-form-item__error{
                    top: 42px;
                    left: 140px;
                    color:#FF9D00;
                    font-size: 14px;
                    
                }
                // .input-warn{
                //     border-bottom: 2px solid #FF9D00;
                // }
                // .text-warn{
                //     position: absolute;
                //     top:30px;
                //     left: 140px;
                //     color:#FF9D00
                // }
            }
            .permission{
                line-height: 36px;
                margin-top: 15px;
                .input-title{
                    display:inline-block;
                    width: 20%;
                    font-size: 18px;
                    color: #848C99;
                    margin-bottom: 24px;
                }
                .item{
                    display: inline-block;
                    vertical-align: top;
                    div{
                        line-height: 36px;
                        font-size: 16px;
                        
                    }
                    .show-item{
                        color: #217AD9;
                        i{
                            font-weight: bold;
                            margin-right: 5px;
                        }
                    }
                    .hide-item{
                        color: #B8BFCC;
                        span{
                            margin-left: 24px;
                        }
                    }
                }
            }
            .line-text-one{
                font-size: 24px;
                color: #4E5766;
                text-align: center;
                margin-top: 28px;
            }

            .dialog-foot {
                text-align: center;
                margin: 36px 0 12px 0;
                .el-button {
                    height: 36px;
                    width: 200px;
                    padding: 0;
                    font-size: 18px;
                }
            }

        }
    }
}
