.home {
    // vw 相对于视窗的宽度
    // vh 相对于视窗的高度
    // vmin 相对于视口的宽度或高度中较小的那个被均分为100单位的vmin
    // vmax 相对于视口的宽度或高度中较大的那个被均分为100单位的vmax
    // px：绝对单位，页面按精确像素展示。
    // em：相对单位，基准点为父节点字体的大小，如果自身定义了font-size按自身来计算（浏览器默认字体是16px），整个页面内1em不是一个固定的值。
    // rem：相对单位，可理解为”root em”, 相对根节点html的字体大小来计算，CSS3新加属性，chrome/firefox/IE9+支持
    float: left;
    width: 100%;

    .el-header {
        padding: 0;
        background-color: #217ad9;
        color: #fff;
        text-align: center;
        height: 65px !important;
        line-height: 65px;

        .logo {
            cursor: pointer;
            position: absolute;
            font-size: 2em;
            font-weight: bold;
            img {
                vertical-align: top;
                height: 65px;
                margin-left: 5px;
            }
            span{
                margin-left: 30px
            }
        }
        .right-bar{
            cursor: pointer;
            height: 65px;
            line-height: 65px;
            position: absolute;
            display: inline-block;
            right: 125px;
            top: 0px;
            span{
                font-size: 14px;
            }
        }
        .lang-bar{
            cursor: pointer;
            height: 65px;
            line-height: 65px;
            position: absolute;
            display: inline-block;
            font-size: 16px;
            right: 40px;
            top: 0px;
            .text-link{
                color: #fff
            }
            .focusing:focus {
                outline:none;
            }
        }
    }

    .el-main {
        padding: 0;
        .welcomepage {
            text-align: center;
            .title {
                font-size: 4em;
                color: #217ad9;
                font-weight: bold;
                margin-bottom: 1vw;
            }
            .text {
                margin-bottom: 2vw;
                font-size: 1.25em;
                color: #4e5766;
            }
     
            .login-form{
                width: 466px;
                margin: 0 auto; 
                .is-error .el-input__inner{
                    border-color:#FF9D00 !important;
                }
                .el-form-item__error{
                    width: 466px;
                    top:95%;
                    color: #FF9D00;
                    font-size: 14px;
                }
                 //改变placeholder颜色
                input{
                    // width: 466px;
                    .el-input__inner{
                        width: 100%;
                    }
                    border: 0;
                    box-shadow: inset 0 0 0 1000px #fff!important;
                    text-align: center;
                    border-bottom: 2px solid #E6EBF0;
                    color: #2D3642;
                    font-size: 1.5em
                }
                .from-text{
                    color:#848C99
                }
                .btn-login{
                    font-size: 1.3vw;
                    width: 18vw;
                }
                .el-form-item{
                    margin: 0.8vw 0 2vw 0;
                    .view{
                        top:7px;
                        right: 10px;
                        position: absolute;
                        cursor: pointer;
                        margin-right: 3px;
                    }
                    .view:hover{
                        opacity: 0.75;
                    }
                    
                }
                .Remember-text{
                    margin-top: -10px;
                    margin-bottom: 2vw
                }
                .activate-it{
                    margin-top: -18px;
                    .it{
                        color: #217AD9;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .contact-dialog{
        text-align: center;
        .el-dialog {
            width: 700px;
            .el-dialog__header {
                display: none
            }
            .line-text-two {
                font-size: 18px;
                margin-top: 34px;
                margin-bottom: 48px;
            }
            .ok-btn {
                width: 200px;
                font-size: 18px;
            }
        }
        
    }
    .activ-dialog{
       
        .el-dialog__header {
            display: none
        }
        .dialog-header{
            font-size: 56px;
            color: #217AD9;
            text-align: center;
            margin-bottom: 76px
        }
        .dialog-body{
            text-align: center;
            font-size: 18px;
            .activte-form{

                width: 800px;
                margin: 0 auto; 
                .text-one{
                    margin-top: 35px;
                }
                .is-error .el-input__inner{
                    border-color:#FF9D00 !important;
                }
               
                .el-form-item__error{
                    width: 800px;
                    top:95%;
                    color: #FF9D00;
                    font-size: 14px;
                }
                 //改变placeholder颜色
                input{
                    .el-input__inner{
                        width: 100%;
                    }
                    border: 0;
                    box-shadow: inset 0 0 0 1000px #fff!important;
                    text-align: center;
                    border-bottom: 2px solid #E6EBF0;
                    color: #2D3642;
                    font-size: 1.5em
                }
            }
        }
        .dialog-footer{
            text-align: center;
            margin: 50px;
            button{
                width: 200px;
                font-size: 18px;
            }
            .sure-btn{
                margin-left: 24px
            }
        }
    }
    .ok-dialog {
        text-align: center;

        //弹框居中
        .el-dialog {
            width: 730px;

            .el-dialog__header {
                display: none
            }
            .icon {
                font-size: 80px;
                color: #217AD9;
            }

            .line-text-one {
                font-size: 32px;
                margin-top: 16px;
                margin-bottom: 60px;
                color: #217AD9;
                font-weight: 700;
            }
            .line-text-two {
                font-size: 24px;
            }

            .ok-btn {
                width: 200px;
                font-size: 18px;
                margin: 34px 0;
            }
        }
    }
    .siteAuth-dialog{
        .el-dialog__header {
            display: none
        }
       
        .line-text-two {
            font-size: 18px;
            line-height: 36px;
        }
        text-align: center;
        .ok-btn {
            width: 100px;
            font-size: 18px;
            padding: 0;
            line-height: 36px;
            margin-top: 18px;
        }
    }

}