
.overview {
    position: absolute;
    background: #F5F8FA;;
    width: 100%;
    height: calc(100% - 105px);
    padding-top: 12px;
    .row-content {
        margin: 0 auto;
        width: 1400px;
        height: 36px;
        background-color: #F5F8FA;
        .radio{
            float: left;
            .el-radio-button__inner{
                padding: 7px 20px;
                font-size: 18px;
                height: 36px;
                border-left: 0px solid #DCDFE6;
                border-radius:0;
                border:0;
                line-height: 23px;
                min-width: 180px;
            }
            .el-radio-button{
                
                .el-radio-button__inner{
                    color: #217AD9;
                    background-color: #E6EBF0 !important;
                }
            }
            .is-active{
                .el-radio-button__inner{
                    color: #fff;
                    background-color: #217AD9 !important;
                }
            }
        }
    }
    .overview-header {
        margin: 0 auto;
        width: 1400px;
        padding-top: 3px;
        height: 37px;
        background-color: #fff;
        border-bottom: 2px solid #E6EBF0;
        text-align: right;
        .el-input__icon {
            color: #848C99;
            line-height: 34px;
        }
        .el-input__inner {
            background-color: #fff;
            border: 1px solid #DCDFE6;
            height: 34px;
            line-height: 34px;
        }
        .input {
            line-height: 34px;
            width: 250px;
            .search {
                cursor: pointer;
            }
            margin-right: 16px
        }

        .sel-role {
            
            line-height: 34px;
            width: 85px;
            margin-right: 16px;
        }

        .sel-organization {
            width: 128px;
            margin-right: 16px;
        }
        .go {
            width: 65px;
            height: 34px;
            line-height: 34px;
            padding: 0;
            margin-right: 24px;
        }
    }
    .overview-body {
        margin: 0 auto;
        width: 1400px;
        height: calc(100% - 78px);
        background-color: #fff;
        .table {
            height: 100%;
            margin: 0 24px;
            .el-table {
                th,td{
                    padding: 9px 0;
                }
                height: 100% !important;
                img{
                    cursor: pointer;
                    margin-left: 25px
                }
                .el-button{
                    padding:0
                }
                .dot{
                    position: relative;
                //    margin-right: 43px;
                    .dot-c{
                        position: absolute;
                        display:inline-block;
                        width: 8px;
                        height: 8px;
                        background-color: #FF9D00;
                        top: 0px;
                        right: 38px;
                        border-radius: 50%
                    }
                }
                .cell-box{
                    display: inline-block;
                    margin-right: 15px;
                    width: 55px;
                    font-size: 15px;
                    .el-badge__content{
                        top: 5px;
                        right: 0px;
                    }
                    i {
                        color: #217AD9;
                    }
                }
                .el-table__row>.cell-td-td>.cell{
                    position: absolute;
                    top:12px;
                    display: inline-block;
                    left: 0;
                }
            }
            .el-table::before {
                background-color: #fff; 
            }
        }
    }
}

.overview-dialog {
    .el-dialog__header {
        display: none;
    }

    .el-dialog__body {
        padding: 0;
    }

    .dialog-box {
        padding: 36px;

        .dialog-title {
            font-size: 32px;
            color: #217AD9;
            font-weight: bold;

        }

        .input {
            margin-top: 36px;

            .el-input__inner {
                background-color: #fff;
                height: 32px;
                border-bottom: 2px solid #E6EBF0;
                font-size: 18px;
                color: #217AD9;
            }
        }

        .dialog-foot {
            text-align: center;
            margin: 48px 0 12px 0;

            .el-button {
                height: 36px;
                width: 200px;
                padding: 0;
                font-size: 18px;

            }
        }

    }
}
