.service {
    position: absolute;
    height: calc(100% - 65px);
    width: 100%;
    overflow: auto;
    background: #F5F8FA;

    .service-box {
        box-sizing: border-box;
        background: #fff;
        width: 1200px;
        min-height: 100%;
        margin: 0 auto;

        .serve-title {
            padding-top: 24px;
            background-color: #F5F8FA;

            .Service-inline {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;
            }

            .inline { 
                padding: 20px 0;

                .el-form-item {
                    margin-right: 36px;
                    margin-bottom: 10px
                }

                .el-input--mini .el-input__inner {
                    height: 24px;
                    line-height: 24px;
                }

                .el-input--mini .el-input__icon {
                    line-height: 24px;
                }

                .el-form-item__label {
                    color: #4E5766;
                    // font-size: 18px;
                    line-height: 24px;
                }

                .el-form-item__content {
                    line-height: 24px;
                    width: 127px;

                    .el-input__inner {
                        color: #217AD9;
                        font-size: 14px;
                        background: #F5F8FA;
                        border-bottom: 2px solid #B8BFCC
                    }
                }
                .form-item{
                    .el-form-item__content {
                        width: 200px;
                    }
                }
            }
        }

        .serve-content {
            padding: 0 36px;
            margin-top: 24px;
            .el-tabs {
                vertical-align: top;
                display: inline-block;
                height: 36px;
                // width: 320px;
                background: #E6EBF0;
                .el-tabs__active-bar {
                    height: 0;
                }
                .el-tabs__item {

                    padding: 0;
                    width: 160px;
                    text-align: center;
                    line-height: 34px;
                    background-color: #E6EBF0;
                    height: 36px;
                    font-size: 18px;
                    color: #217AD9;
                    border-top: 2px solid #E6EBF0;
                }
                .is-active {
                    border-top: 2px solid #217AD9;
                    background: #fff;
                }
            }
            .continue,
            .empty,
            .toy-test,
            .log,
            .upfate-default,
            .upfate-activa{
                vertical-align: top;
                display: inline-block;
                line-height: 36px;
                height: 36px;
                background-color: #F5F8FA;
                width: 344px + 160px;
                text-align: center;
                font-size: 18px;
            }
            .toy-test,
            .log{
                cursor: pointer;
                margin-left: 12px;
                color: #217AD9;
            }
            .toy-test{
                width: 110px;
            }
            .log {
                width: 78px;
            }
            .upfate-default,.upfate-activa{
                margin-left: 12px;
                width: 240px;
                color: #FFFFFF;
            }
            .upfate-activa:hover{
                background-color: #4d95e1;
            }
            .upfate-default{
                background-color: #B8BFCC;
            }
            .upfate-activa{
                cursor: pointer;
                line-height: 35px;
                background-color: #217AD9;
                .is-dot{
                    right:-2px;
                    top:8px
                }
                .el-badge__content{
                    background-color:#FF9D00;
                    border:0px solid #fff
                }
            }
            .continue{
                margin-left: 12px;
                width: 450px;
                background-color: #ECF6FF;
                color: #217AD9;
                text-decoration: underline;
                cursor: pointer;
            }
           
        }
        .partyid-body {
            position: absolute;
            width: 1128px;
            height: calc(100% - 220px);
            padding: 0 36px;
            .table {
                height: 100%;
                .el-table {
                    height: 100% !important;
                    img{
                        position: absolute;
                        top:15px;
                        right: 11px;
                    }
                    img:hover{
                        opacity: 0.7;
                    }
                    .el-button{
                        padding:0
                    }
                    
                    .cell-box{
                        display: inline-block;
                        margin-right: 15px;
                        width: 55px;
                        font-size: 15px;
                        .el-badge__content{
                            top: 5px;
                            right: 0px;
                        }
                        i {
                            color: #217AD9;
                        }
                    }
                }

            }
            .el-table::before {
                background-color: #fff; 
            }
        }
    }

    .service-dialog {
        .el-dialog__header {
            display: none;
        }

        .el-dialog__body {
            padding: 0;
        }

        .dialog-box {
            padding: 36px;

            .dialog-title {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;

            }

            .input {
                margin-top: 36px;

                .el-input__inner {
                    background-color: #fff;
                    height: 32px;
                    border-bottom: 2px solid #E6EBF0;
                    font-size: 18px;
                    color: #217AD9;
                }
            }

            .dialog-foot {
                text-align: center;
                margin: 48px 0 12px 0;

                .el-button {
                    height: 36px;
                    width: 200px;
                    padding: 0;
                    font-size: 18px;

                }
            }

        }
    }
}