.sitemanage {
    position: absolute;
    height: calc(100% - 95px);
    width: 100%;
    background: #F5F8FA;
    .site-item{
        width: 1400px;
        margin: 12px auto;
        
        .title{
            margin-right:10px;
        }
        .text{
            margin-right:10px;
            width: 120px;
            color: #4E5766;
        }
        div{
            vertical-align: top;
            display: inline-block;
        }
        .site-item-text{
            // width: 200px;
            font-size: 14px;
            color: #848C99;
            // margin-left: 10px;
        }
        .site-title{
            float: right;
        }
        .site-tiem-view{
            font-size: 14px;
            color: #217AD9;
            cursor: pointer;
            // margin-right: 10px;
        }
    }
    .sitemanage-box {
        box-sizing: border-box;
        background: #fff;
        width: 1400px;
        height: calc(100% - 43px);
        margin: 0 auto;
        overflow: auto;
        .add-site{
            padding-top: 5px;
            height: 40px;
            border-bottom: 2px solid #E6EBF0;
            margin-bottom: 10px;
            .add:hover{
                opacity: 0.85;
            }
            .add{
                float: left;
                height: 36px;
                font-size: 16px;
                color: #217AD9;
                text-align: center;
                line-height: 36px;
                margin-left: 24px;
                cursor: pointer;
                span{
                    margin-left: 3px;
                    vertical-align: 5px;
                }
            }
            .apply{
                float:right;
                font-size: 14px;
                color: #217AD9;
                text-align: right;
                line-height: 36px;
                margin-right: 24px;
                .warning{
                    cursor: pointer;
                    color: #FF9D00;
                    font-size: 18px;
                    vertical-align: -2px;
                    margin-right: 10px
                }
                .tickets{
                    vertical-align: -5px;
                    cursor: pointer;
                    margin-left: 10px
                }
                .apply-click{
                    cursor: pointer;
                }
            }
            .app{
                line-height: 36px;
                float:right;
                font-size: 14px;
                color: #B8BFCC;
                text-align: right;
                margin-right: 10px;
            }
        }
        .site-name{
            background-image: linear-gradient(#fff, #F5F7FA);
            border-top: 1px solid #E7EBF0;
            border-left: 1px solid #E7EBF0;
            border-right: 1px solid #E7EBF0;
            height: 42px;
            line-height: 40px;
            margin: 0 24px;
            .name-left{
                float: left;
                font-size: 16px;
                .size-title,
                .institution-title{
                    display: inline-block;
                    margin-left: 10px;
                    color: #848C99;
                }
                .institution-title{
                    width: 110px;
                }
                .size-num,
                .institution-text{
                    margin-left: 5px;
                    color: #217AD9;
                }
                .institution-text{
                    vertical-align: top;
                    display: inline-block;
                    width: 170px;
                    white-space: nowrap; //文本强制不换行；
                    text-overflow:ellipsis; //文本溢出显示省略号；
                    overflow:hidden; //溢出的部分隐藏；
                    // background-color: red;
                }
            }
            .name-right{
                font-size: 16px;
                float: right;
                .right-title,
                .right-text{
                    margin-right: 10px;
                    color: #848C99
                }
                .refresh,
                .right-num{
                    color: #217AD9;
                    margin-right: 10px;
                }
                .refresh{
                    vertical-align: middle;
                    cursor: pointer;
                    i{
                        font-weight:bold;
                    }
                 
                }
            }
        }
        .site-table{
            margin: 0 24px;
            width: calc(100% - 48px);
            th,td{
                padding: 9px 0 ;
            }
         
        }
    }
    .apply-dialog {
        .el-dialog__header {
            display: none;
        }
        .el-dialog__body {
            padding: 0;
        }
        .dialog-box {
            
            padding: 36px;
            .dialog-title {
                font-size: 32px;
                color: #217AD9;
                font-weight: bold;
                margin-bottom: 36px
            }
            .line-text-one{
                font-size: 18px;
                color: #2D3642;
                line-height: 32px;
            }
            .line-text-gray{
                font-size: 14px;
                color: #848C99;
                margin-top: 15px;
            }
            .dialog-main{
                padding: 12px 24px;
                margin-top: 24px;
                max-height: 248px;
                overflow:auto;
                background: #F5F8FA;
                overflow: auto;
                .el-checkbox-group{
                    width: 100%;
                    div{
                        line-height: 24px;
                        display: inline-block;
                        width: 50%;
                        .el-checkbox__inner::after {
                            transition: none!important;
                        }
            
                    }
                }
            }
            .dialog-foot {
                text-align: center;
                margin: 36px 0 12px 0;
                .el-button {
                    height: 36px;
                    width: 200px;
                    padding: 0;
                    font-size: 18px;
                }
            }

        }
    }
    .apply-not-pass{
         .el-dialog__body{
            padding: 40px;
        }
        .el-button{
            padding: 0;
            height: 36px;
            line-height: 36px;
        }


        .el-dialog__header {
            display: none;
        }

        text-align: center;

        .line-text-one {
            font-size: 24px;
            color: #4E5766;
            line-height: 48px;
            // margin-bottom: 18px;
            .span{
                color: #217AD9
            }
        }
        .line-text-two{
            font-size: 18px;
            color: #848C99;
            margin: 24px;
        }

        .ok-btn {
            margin-top: 12px;
            width: 180px;
            font-size: 18px;
        }
    }
    .exchange-dialog{
        .el-dialog__body{
            padding: 10px 48px;
        }
        .exits-box,
        .vip-box{
            .dialog-title{
                font-size: 24px;
                color: #217AD9;
                // margin-left: 8px;
                font-weight: bold;
                padding-bottom:12px;
                border-bottom: 2px solid #E6EBF0
            }
        }
        .exits-box{
            margin-top: 48px;
            margin-bottom: 12px
        }
        
    }
}
